@import 'partials/susy';
@import 'partials/bootstrap';
@import 'partials/variables';

html {
	height:100%;
    font-size: 16px;
    background-color: #FAF7F2;
}
body {
    margin: 0;
    padding: 0;
    height:100%;
    font-family: $wiley-sans;
    color: map-get($colors, grey-800);
}

@import 'partials/footer';
@import 'partials/sections';
@import 'partials/header';
@import 'partials/typography';
@import 'partials/ui-controls';
@import 'partials/ui-menu-drawer';
@import 'partials/colour-picker';
@import 'partials/annotations';
