<ul type="a">
    <li><a href="#home">Home <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
    <li><a href="#quickstart">Quickstart <span class="glyphicon glyphicon-flash" aria-hidden="true"></span></a></li>
    <li><a href="#overview">Overview <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span></a></li>
    <li><a href="#hubflow">Hub page flow <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></a></li>
    <li><a href="#identity">Identity <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
        <ul type="i">
            <li><a href="#identity-hubhome">Hub home</a></li>
            <li><a href="#identity-journalhome">Journal home</a></li>
            <li><a href="#identity-issues">Issues</a></li>
            <li><a href="#identity-issuecontents">Issue contents</a></li>
            <li><a href="#identity-searchresults">Search results</a></li>
            <li><a href="#identity-anywherearticle">Anywhere article</a></li>
            <li><a href="#identity-generic">Generic pages</a></li>
        </ul>
    </li>
    <li><a href="#primarycontent">Primary content <span class="glyphicon glyphicon-list" aria-hidden="true"></a>
        <ul type="i">
            <li><a href="#primarycontent-hubhome">Hub home</a></li>
            <li><a href="#primarycontent-journalhome">Journal home</a></li>
            <li><a href="#primarycontent-issues">Issues</a></li>
            <li><a href="#primarycontent-issuecontents">Issue contents</a></li>
            <li><a href="#primarycontent-searchresults">Search results</a></li>
            <li><a href="#primarycontent-anywherearticle">Anywhere article</a></li>
            <li><a href="#primarycontent-generic">Generic pages</a></li>
        </ul>
    </li>
    <li><a href="#supportingcontent">Supporting content <span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
</ul>