<h3>Add your logo</h3>
<input type='file' id="imgInp" onchange="readURL(this);" />
<img class="logo-placeholder" style="max-width: 128px;max-height: 64px;margin: 1rem;" src="/images/content/placeholder-logo.svg" alt="your image" />