<h3>Add your colors</h3>
<div id="demo-app">


    <div class="panel bgcolor">
        <button id="bgcolor-button" class="btn btn-default" style="color: rgb(255, 255, 255); background-image: none; background-color: rgb(171, 37, 103);">Choose primary color</button>
        <table class="whg-colour-picker__table">
            <tbody>
                <tr>
                    <th>RGB</th>
                    <td>
                        <input id="bgcolor-rgb" onchange="setString('bgcolor', this.value)">
                    </td>
                </tr>
                <tr>
                    <th>HEX</th>
                    <td>
                        <input id="bgcolor-hex" onchange="setString('bgcolor', this.value)">
                    </td>
                </tr>

<!--
                <tr>
                    <th>H</th>
                    <td>
                        <input id="bgcolor-hue" class="short" onchange="setHSV('bgcolor', this.value, null, null)"> °</td>
                </tr>
                <tr>
                    <th>S</th>
                    <td>
                        <input id="bgcolor-sat" class="short" onchange="setHSV('bgcolor', null, this.value, null)"> %</td>
                </tr>
                <tr>
                    <th>V</th>
                    <td>
                        <input id="bgcolor-val" class="short" onchange="setHSV('bgcolor', null, null, this.value)"> %</td>
                </tr>

                <tr class="red">
                    <th>R</th>
                    <td>
                        <input id="bgcolor-red" class="short" onchange="setRGB('bgcolor', this.value, null, null)">
                    </td>
                </tr>
                <tr class="grn">
                    <th>G</th>
                    <td>
                        <input id="bgcolor-grn" class="short" onchange="setRGB('bgcolor', null, this.value, null)">
                    </td>
                </tr>
                <tr class="blu">
                    <th>B</th>
                    <td>
                        <input id="bgcolor-blu" class="short" onchange="setRGB('bgcolor', null, null, this.value)">
                    </td>
                </tr>
-->
            </tbody>
        </table>
    </div>


    <div class="panel fgcolor">
        <button id="fgcolor-button" class="btn btn-default" style="color: rgb(0, 0, 0); background-image: none; background-color: rgb(255, 255, 255);">Choose secondary color</button>
        <table class="whg-colour-picker__table">
            <tbody>
                <tr>
                    <th>RGB</th>
                    <td>
                        <input id="fgcolor-rgb" onchange="setString('fgcolor', this.value)">
                    </td>                    
                </tr>
                <tr>
                    <th>HEX</th>
                    <td>
                        <input id="fgcolor-hex" onchange="setString('fgcolor', this.value)">
                    </td>                    
                </tr>

<!--
                <tr>
                    <td>°
                        <input id="fgcolor-hue" class="short" onchange="setHSV('fgcolor', this.value, null, null)">
                    </td>
                    <th>H</th>
                </tr>
                <tr>
                    <td>%
                        <input id="fgcolor-sat" class="short" onchange="setHSV('fgcolor', null, this.value, null)">
                    </td>
                    <th>S</th>
                </tr>
                <tr>
                    <td>%
                        <input id="fgcolor-val" class="short" onchange="setHSV('fgcolor', null, null, this.value)">
                    </td>
                    <th>V</th>
                </tr>

                <tr class="red">
                    <td>
                        <input id="fgcolor-red" class="short" onchange="setRGB('fgcolor', this.value, null, null)">
                    </td>
                    <th>R</th>
                </tr>
                <tr class="grn">
                    <td>
                        <input id="fgcolor-grn" class="short" onchange="setRGB('fgcolor', null, this.value, null)">
                    </td>
                    <th>G</th>
                </tr>
                <tr class="blu">
                    <td>
                        <input id="fgcolor-blu" class="short" onchange="setRGB('fgcolor', null, null, this.value)">
                    </td>
                    <th>B</th>
                </tr>
-->
            </tbody>
        </table>
    </div>


    <script>
        
    </script>
</div>