<section id="hubflow" class="whg-section">
    <!-- CONTENT Container -->
    <div class="whg-section__text">
        <div class="whg-section__text-content">
            <!-- Put content here -->

            <h2 class="decorated">Hub flow</h2>
            <p class="lead">How the HUB is structured</p>
            <p>One purpose of the Hub is to help users find the content they wish to consume. This can be accomplished through search, a shared link or simply browsing through desired topics. The Hub structure is designed to aid the many ways users access your content.</p>
            <p>The adjacent diagram illustrates the hierarchy of the Hub. The Hub home provides access to journals, which in turn lists issues, which then contain lists of articles. Accessing these articles then take the user to Anywhere Article, our article viewing platform where elements of your Hub will persist.</p>

        </div>
    </div>
    <!-- IMAGE SPACE -->
    <div class="whg-section__image">
        <div class="img-cont">
            <img src="/images/content/section-images/whg-hub-flow.png"/>
        </div>
    </div>
</section>