<section id="identity-hubhome" class="whg-section">
    <!-- CONTENT Container -->
    <div class="whg-section__text">
        <div class="whg-section__text-content">
            <!-- Put content here -->

            <h4>Identity</h4>
            <h2 class="decorated">Hub Home</h2>
            <p>Most of the elements and areas we describe here will persist throughout the entire Hub. We usually refer to these elements as ‘global elements’. A global element can be a persistent login button or the Hub logo, it simply remains in the same place on all pages making them great candidates for branding.</p>
            <p>Throughout the <strong>Identity</strong> sections of this guide, we will slowly introduce all of the elements that can be 'branded' to make your hub unique. With each page in the <a href="#hubflow">Hub Flow</a> several more elements will be introduced.</p>
            <ul>
                <li>Header logo</li>
                <li>Text links</li>
                <li>Button links</li>
                <li>Decoration</li>
                <li>Footer logo</li>
            </ul>
            <hr>

            <!--accordians-->

            <div class="panel-group" id="accordion-identity-hubhome" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion-identity-hubhome" href="#identityHubhome1" aria-expanded="true" aria-controls="identityHubhome1">
          Header logo
        </a>
      </h4>
                    </div>
                    <div id="identityHubhome1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>The Hub logo will help users immediately identify the site they are on and also function as a quick link back to the homepage.</p>
                            <p>It reinforces and creates awareness for the Hub brand.</p>
                            <p>The logo should be neither &lsquo;too horizontal&rsquo; or &lsquo;too vertical&rsquo;. A good ratio is the same as a landscape piece of A4 paper or 2:3.</p>
                            <p><em>INSERT RATIO IMAGE</em></p>
                            <p>Logos should function on a white background for best result, but we can accommodate logos that must have a particular background behind them.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-identity-hubhome" href="#identityHubhome2" aria-expanded="false" aria-controls="identityHubhome2">
          Text links
        </a>
      </h4>
                    </div>
                    <div id="identityHubhome2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>Text links include the primary links in the header, as well as article titles and links to off-site materials. There are many more examples, but they should all adopt the same &lsquo;brand&rsquo; color specified to give the user a consistent experience.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-identity-hubhome" href="#identityHubhome3" aria-expanded="false" aria-controls="identityHubhome3">
          Button links
        </a>
      </h4>
                    </div>
                    <div id="identityHubhome3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>Like text links, buttons come in different shapes and sizes, often incorporating iconography. The button color will be taken from the &lsquo;action&rsquo; color specified and will be used to draw the user&rsquo;s attention and break up the design.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-identity-hubhome" href="#identityHubhome4" aria-expanded="false" aria-controls="identityHubhome4">
          Decoration
        </a>
      </h4>
                    </div>
                    <div id="identityHubhome4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>There are a limited amount of decorative elements in a Hub. Typically reserved for signposting or dividing up content. A major example of this is the colour band that sits behind the search box in the header.</p>
                            <p>Decorations will typically use the <strong>brand color</strong>, but can sometimes use the <strong>action color</strong>.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-identity-hubhome" href="#identityHubhome5" aria-expanded="false" aria-controls="identityHubhome5">
          Footer logo
        </a>
      </h4>
                    </div>
                    <div id="identityHubhome5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            <p>Similar to how the header logo takes ownership over the page, the footer logo reinforces this.</p>
                            <p>The footer logo can be the very same that is used in the header. However, it is possible to specify a separate logo.</p>
                            <p>One use case is if the Hub is a sister site to a society's home site. The Hub uses an adapted version of the society&rsquo;s logo to avoid confusion with the society&rsquo;s primary site. In the footer the society wish to showcase their default logo as a stamp of ownership.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/accordians-->
        </div>
    </div>
    <!-- IMAGE SPACE -->
    <div class="whg-section__image">
        <div class="img-cont">

            <svg width="608px" height="608px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 608 608" enable-background="new 0 0 608 608" xml:space="preserve">
                <g>
                    <rect x="16" y="16" fill="#FFFFFF" width="576" height="576" />
                    <rect x="24" y="88" fill="#F5F2ED" width="368" height="112" />
                    <rect x="408" y="88" fill="#F5F2ED" width="176" height="72" />
                    <rect x="408" y="233" fill="#F5F2ED" width="176" height="1" />
                    <rect x="408" y="248" fill="#F5F2ED" width="176" height="136" />
                    <rect x="408" y="393" fill="#F5F2ED" width="176" height="1" />
                    <rect x="408" y="490" fill="#F5F2ED" width="176" height="1" />
                    <rect x="24" y="343" fill="#F5F2ED" width="368" height="1" />
                    <rect x="24" y="276" fill="#F5F2ED" width="28" height="48" />
                    <rect x="24" y="216" fill="#F5F2ED" width="28" height="48" />
                    <rect x="208" y="276" fill="#F5F2ED" width="28" height="48" />
                    <rect x="208" y="216" fill="#F5F2ED" width="28" height="48" />
                    <rect x="16" y="560" fill="#F5F2ED" width="576" height="2" />
                    <path fill="#A0C7E5" class="brand-primary" d="M16,48h576v32H16V48z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M16,506h576v2H16V506z" />
                    <path fill="#FFFFFF" d="M24,56h560v16H24V56z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M148,24h24c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4v-8C144,25.8,145.8,24,148,24z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M188,24h24c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4v-8C184,25.8,185.8,24,188,24z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M228,24h24c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4v-8C224,25.8,225.8,24,228,24z" />
                    <path fill="#E87700" class="brand-secondary" d="M556,32h24c2.2,0,4,1.8,4,4s-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4S553.8,32,556,32z" />
                    <path fill="#E87700" class="brand-secondary" d="M500,32h40c2.2,0,4,1.8,4,4s-1.8,4-4,4h-40c-2.2,0-4-1.8-4-4S497.8,32,500,32z" />
                    <path fill="#E87700" class="brand-secondary" d="M24,56h56v16H24V56z" />
                    <path fill="#E87700" class="brand-secondary" d="M568,56h16v16h-16V56z" />
                    <path fill="#E87700" class="brand-secondary" d="M372,180h20v20h-20V180z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M432,200h52v4h-52V200z" />
                    <path fill="#E87700" class="brand-secondary" d="M560,216h20c2.2,0,4,1.8,4,4s-1.8,4-4,4h-20c-2.2,0-4-1.8-4-4S557.8,216,560,216z" />
                    <path fill="#E87700" class="brand-secondary" d="M514,360h20c2.2,0,4,1.8,4,4s-1.8,4-4,4h-20c-2.2,0-4-1.8-4-4S511.8,360,514,360z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M418,425h40v8h-40V425z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M462,425h20v8h-20V425z" />
                    <circle fill="#A0C7E5" class="brand-primary" cx="412" cy="429" r="3" />
                    <path fill="#A0C7E5" class="brand-primary" d="M418,441h29v8h-29V441z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M451,441h20v8h-20V441z" />
                    <circle fill="#A0C7E5" class="brand-primary" cx="412" cy="445" r="3" />
                    <path fill="#A0C7E5" class="brand-primary" d="M418,457h50v8h-50V457z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M472,457h30v8h-30V457z" />
                    <circle fill="#A0C7E5" class="brand-primary" cx="412" cy="461" r="3" />
                    <path fill="#A0C7E5" class="brand-primary" d="M418,473h19v8h-19V473z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M441,473h50v8h-50V473z" />
                    <circle fill="#A0C7E5" class="brand-primary" cx="412" cy="477" r="3" />
                    <path fill="#A0C7E5" class="brand-primary" d="M40,384h86v6H40V384z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M40,396h97v6H40V396z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M40,408h47v6H40V408z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M40,420h78v6H40V420z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M40,432h88v6H40V432z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M40,444h67v6H40V444z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M224,450h86v-6h-86V450z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M224,438h97v-6h-97V438z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M224,426h47v-6h-47V426z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M224,414h78v-6h-78V414z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M224,402h88v-6h-88V402z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M224,390h67v-6h-67V390z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M60,296h41v4H60V296z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M105,296h23v4h-23V296z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M132,296h30v4h-30V296z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M60,320h48v4H60V320z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M112,320h48v4h-48V320z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M60,236h41v4H60V236z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M105,236h23v4h-23V236z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M132,236h30v4h-30V236z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M60,260h48v4H60V260z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M112,260h48v4h-48V260z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M244,296h41v4h-41V296z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M289,296h23v4h-23V296z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M316,296h30v4h-30V296z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M244,320h48v4h-48V320z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M296,320h48v4h-48V320z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M244,236h41v4h-41V236z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M289,236h23v4h-23V236z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M316,236h30v4h-30V236z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M244,260h48v4h-48V260z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M296,260h48v4h-48V260z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M464,550h86v-6h-86V550z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M464,538h97v-6h-97V538z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M464,526h47v-6h-47V526z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M336,550h78v-6h-78V550z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M336,538h88v-6h-88V538z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M336,526h67v-6h-67V526z" />
                    <rect x="320" y="184" fill="#9E9D99" width="48" height="4" />
                    <rect x="140" y="184" fill="#9E9D99" width="52" height="4" />
                    <rect x="236" y="184" fill="#9E9D99" width="80" height="4" />
                    <rect x="196" y="184" fill="#9E9D99" width="16" height="4" />
                    <rect x="216" y="184" fill="#9E9D99" width="16" height="4" />
                    <rect x="316" y="192" fill="#9E9D99" width="52" height="4" />
                    <rect x="200" y="192" fill="#9E9D99" width="72" height="4" />
                    <rect x="300" y="192" fill="#9E9D99" width="12" height="4" />
                    <rect x="276" y="192" fill="#9E9D99" width="20" height="4" />
                    <rect x="180" y="192" fill="#9E9D99" width="16" height="4" />
                    <rect x="408" y="192" fill="#9E9D99" width="48" height="4" />
                    <rect x="508" y="200" fill="#9E9D99" width="76" height="4" />
                    <rect x="564" y="192" fill="#9E9D99" width="16" height="4" />
                    <rect x="544" y="192" fill="#9E9D99" width="16" height="4" />
                    <rect x="408" y="184" fill="#9E9D99" width="52" height="4" />
                    <rect x="504" y="184" fill="#9E9D99" width="72" height="4" />
                    <rect x="464" y="184" fill="#9E9D99" width="12" height="4" />
                    <rect x="480" y="184" fill="#9E9D99" width="20" height="4" />
                    <rect x="408" y="200" fill="#9E9D99" width="20" height="4" />
                    <rect x="488" y="200" fill="#9E9D99" width="16" height="4" />
                    <rect x="460" y="192" fill="#9E9D99" width="80" height="4" />
                    <rect x="408" y="208" fill="#9E9D99" width="28" height="4" />
                    <rect x="440" y="208" fill="#9E9D99" width="48" height="4" />
                    <rect x="418" y="348" fill="#9E9D99" width="40" height="8" />
                    <rect x="462" y="348" fill="#9E9D99" width="20" height="8" />
                    <rect x="486" y="348" fill="#9E9D99" width="52" height="8" />
                    <rect x="418" y="360" fill="#9E9D99" width="20" height="8" />
                    <rect x="442" y="360" fill="#9E9D99" width="52" height="8" />
                    <polygon fill="#9E9D99" points="27.422,367.711 29.844,367.711 29.844,358.305 32.945,358.305 32.945,356.289 24.32,356.289 
		24.32,358.305 27.422,358.305 	" />
                    <path fill="#9E9D99" d="M35.977,367.316c0.641,0.367,1.38,0.551,2.219,0.551c1.338,0,2.383-0.401,3.133-1.203
		s1.125-1.914,1.125-3.336c0-0.917-0.172-1.716-0.516-2.398s-0.836-1.206-1.477-1.57s-1.38-0.547-2.219-0.547
		c-1.349,0-2.396,0.396-3.141,1.188c-0.745,0.792-1.117,1.901-1.117,3.328c0,0.917,0.172,1.719,0.516,2.406
		S35.336,366.949,35.977,367.316z M36.836,361.379c0.281-0.43,0.739-0.645,1.375-0.645c0.641,0,1.102,0.216,1.383,0.648
		s0.422,1.081,0.422,1.945c0,0.87-0.14,1.524-0.418,1.965c-0.279,0.44-0.736,0.66-1.371,0.66c-0.641,0-1.103-0.222-1.387-0.664
		c-0.284-0.442-0.426-1.097-0.426-1.961C36.414,362.458,36.555,361.809,36.836,361.379z" />
                    <path fill="#9E9D99" d="M46.805,368.016c0-0.114-0.042-0.536-0.125-1.266h0.125c0.583,0.745,1.388,1.117,2.414,1.117
		c0.682,0,1.276-0.18,1.781-0.539c0.505-0.359,0.895-0.883,1.168-1.57s0.41-1.497,0.41-2.43c0-1.417-0.292-2.523-0.875-3.32
		c-0.583-0.797-1.391-1.195-2.422-1.195c-1.094,0-1.919,0.433-2.477,1.297h-0.109l-0.336-1.133h-1.938v12.578h2.383V368.016z
		 M46.805,363.055c0.01-0.833,0.151-1.431,0.422-1.793c0.271-0.362,0.7-0.543,1.289-0.543c0.563,0,0.975,0.215,1.238,0.645
		c0.263,0.43,0.395,1.074,0.395,1.934c0,1.761-0.534,2.641-1.602,2.641c-0.604,0-1.046-0.203-1.324-0.609
		c-0.279-0.406-0.418-1.078-0.418-2.016V363.055z" />
                    <path fill="#9E9D99" d="M55.742,357.891c0.432,0,0.756-0.103,0.973-0.309c0.216-0.206,0.324-0.493,0.324-0.863
		c0-0.776-0.433-1.164-1.297-1.164c-0.865,0-1.297,0.388-1.297,1.164C54.445,357.5,54.877,357.891,55.742,357.891z" />
                    <rect x="54.547" y="358.977" fill="#9E9D99" width="2.383" height="8.734" />
                    <path fill="#9E9D99" d="M63.188,360.734c0.323,0,0.646,0.048,0.969,0.145c0.323,0.097,0.672,0.22,1.047,0.371l0.703-1.844
		c-0.802-0.396-1.708-0.594-2.719-0.594c-1.38,0-2.44,0.392-3.18,1.176c-0.74,0.784-1.109,1.918-1.109,3.402
		c0,2.984,1.359,4.477,4.078,4.477c0.599,0,1.095-0.047,1.488-0.141c0.393-0.094,0.782-0.263,1.168-0.508v-2.039
		c-0.391,0.261-0.781,0.452-1.172,0.574s-0.815,0.184-1.273,0.184c-1.24,0-1.859-0.854-1.859-2.563
		C61.328,361.614,61.948,360.734,63.188,360.734z" />
                    <path fill="#9E9D99" d="M70.547,360.578c0.396,0,0.784,0.06,1.164,0.18c0.38,0.12,0.789,0.273,1.227,0.461l0.719-1.719
		c-0.995-0.458-2.019-0.688-3.07-0.688c-1.104,0-1.957,0.212-2.559,0.637s-0.902,1.024-0.902,1.801c0,0.453,0.071,0.835,0.215,1.145
		c0.143,0.31,0.372,0.585,0.688,0.824c0.315,0.239,0.809,0.5,1.48,0.781c0.469,0.198,0.844,0.371,1.125,0.52
		s0.479,0.281,0.594,0.398c0.114,0.117,0.172,0.27,0.172,0.457c0,0.5-0.433,0.75-1.297,0.75c-0.422,0-0.91-0.07-1.465-0.211
		s-1.054-0.315-1.496-0.523v1.969c0.391,0.167,0.81,0.293,1.258,0.379c0.448,0.086,0.989,0.129,1.625,0.129
		c1.239,0,2.17-0.234,2.793-0.703c0.622-0.469,0.934-1.151,0.934-2.047c0-0.433-0.076-0.805-0.227-1.117
		c-0.151-0.313-0.386-0.589-0.703-0.828c-0.318-0.239-0.818-0.497-1.5-0.773c-0.766-0.308-1.262-0.539-1.488-0.695
		s-0.34-0.341-0.34-0.555C69.492,360.769,69.844,360.578,70.547,360.578z" />
                    <rect x="60" y="304" fill="#9E9D99" width="68" height="4" />
                    <rect x="132" y="304" fill="#9E9D99" width="39" height="4" />
                    <path fill="#9E9D99" d="M64.133,290.023c0.609-0.698,0.914-1.714,0.914-3.047v-10.688h-2.422v10.703
		c0,0.703-0.115,1.22-0.344,1.551c-0.229,0.331-0.609,0.496-1.141,0.496c-0.344,0-0.724-0.052-1.141-0.156v2.016
		c0.406,0.114,0.883,0.172,1.43,0.172C62.622,291.07,63.523,290.722,64.133,290.023z" />
                    <path fill="#9E9D99" d="M73.68,279.359c-0.641-0.364-1.38-0.547-2.219-0.547c-1.349,0-2.396,0.396-3.141,1.188
		c-0.745,0.792-1.117,1.901-1.117,3.328c0,0.917,0.172,1.719,0.516,2.406s0.836,1.215,1.477,1.582s1.38,0.551,2.219,0.551
		c1.338,0,2.383-0.401,3.133-1.203s1.125-1.914,1.125-3.336c0-0.917-0.172-1.716-0.516-2.398S74.32,279.724,73.68,279.359z
		 M72.816,285.293c-0.279,0.44-0.736,0.66-1.371,0.66c-0.641,0-1.103-0.222-1.387-0.664c-0.284-0.442-0.426-1.097-0.426-1.961
		c0-0.87,0.141-1.52,0.422-1.949s0.739-0.645,1.375-0.645c0.641,0,1.102,0.216,1.383,0.648s0.422,1.081,0.422,1.945
		C73.234,284.198,73.095,284.853,72.816,285.293z" />
                    <path fill="#9E9D99" d="M77.594,278.977v5.695c0,1.031,0.26,1.821,0.781,2.371c0.521,0.55,1.294,0.824,2.32,0.824
		c0.599,0,1.133-0.11,1.602-0.332s0.831-0.535,1.086-0.941h0.125l0.32,1.117h1.828v-8.734h-2.383v4.109
		c0,1.031-0.148,1.77-0.445,2.215s-0.779,0.668-1.445,0.668c-0.49,0-0.847-0.157-1.07-0.473c-0.224-0.315-0.336-0.788-0.336-1.418
		v-5.102H77.594z" />
                    <path fill="#9E9D99" d="M90.43,280.445h-0.117l-0.352-1.469h-1.805v8.734h2.383v-4.445c0-0.703,0.212-1.25,0.637-1.641
		c0.424-0.391,1.017-0.586,1.777-0.586c0.276,0,0.51,0.026,0.703,0.078l0.18-2.234c-0.214-0.047-0.482-0.07-0.805-0.07
		c-0.542,0-1.043,0.149-1.504,0.449S90.7,279.956,90.43,280.445z" />
                    <path fill="#9E9D99" d="M103.484,287.711v-5.695c0-1.036-0.263-1.829-0.789-2.379c-0.526-0.55-1.297-0.824-2.313-0.824
		c-0.594,0-1.124,0.108-1.59,0.324c-0.466,0.216-0.832,0.535-1.098,0.957h-0.133l-0.32-1.117h-1.82v8.734h2.383v-4.109
		c0-1.031,0.148-1.77,0.445-2.215s0.778-0.668,1.445-0.668c0.489,0,0.846,0.157,1.07,0.473c0.224,0.315,0.336,0.788,0.336,1.418
		v5.102H103.484z" />
                    <path fill="#9E9D99" d="M109.266,282.32c-1.308,0.047-2.285,0.29-2.934,0.73s-0.973,1.124-0.973,2.051
		c0,0.886,0.241,1.567,0.723,2.047c0.481,0.479,1.142,0.719,1.98,0.719c0.682,0,1.235-0.098,1.66-0.293
		c0.424-0.195,0.837-0.546,1.238-1.051h0.063l0.461,1.188h1.664v-5.82c0-1.042-0.313-1.817-0.938-2.328s-1.523-0.766-2.695-0.766
		c-1.224,0-2.339,0.263-3.344,0.789l0.789,1.609c0.942-0.422,1.763-0.633,2.461-0.633c0.906,0,1.359,0.442,1.359,1.328v0.383
		L109.266,282.32z M110.781,284.383c0,0.526-0.166,0.948-0.496,1.266c-0.331,0.317-0.772,0.477-1.324,0.477
		c-0.771,0-1.156-0.336-1.156-1.008c0-0.469,0.169-0.817,0.508-1.047c0.338-0.229,0.854-0.354,1.547-0.375l0.922-0.031V284.383z" />
                    <rect x="115.602" y="275.555" fill="#9E9D99" width="2.383" height="12.156" />
                    <polygon fill="#9E9D99" points="132.336,276.289 123.711,276.289 123.711,278.305 126.813,278.305 126.813,287.711 
		129.234,287.711 129.234,278.305 132.336,278.305 	" />
                    <path fill="#9E9D99" d="M136.289,278.031v-2.477h-2.383v12.156h2.383v-4.109c0-1.016,0.148-1.75,0.445-2.203s0.778-0.68,1.445-0.68
		c0.938,0,1.406,0.63,1.406,1.891v5.102h2.383v-5.695c0-1.031-0.266-1.823-0.797-2.375s-1.31-0.828-2.336-0.828
		c-1.156,0-2,0.427-2.531,1.281h-0.125l0.055-0.703C136.271,278.677,136.289,278.224,136.289,278.031z" />
                    <path fill="#9E9D99" d="M147.441,281.625c0.424-0.391,1.017-0.586,1.777-0.586c0.276,0,0.51,0.026,0.703,0.078l0.18-2.234
		c-0.214-0.047-0.482-0.07-0.805-0.07c-0.542,0-1.043,0.149-1.504,0.449s-0.827,0.694-1.098,1.184h-0.117l-0.352-1.469h-1.805v8.734
		h2.383v-4.445C146.805,282.563,147.017,282.016,147.441,281.625z" />
                    <path fill="#9E9D99" d="M159.203,282.781c0-1.239-0.344-2.211-1.031-2.914s-1.648-1.055-2.883-1.055
		c-1.292,0-2.304,0.399-3.035,1.199c-0.732,0.8-1.098,1.931-1.098,3.395c0,1.422,0.396,2.521,1.188,3.297
		c0.792,0.776,1.891,1.164,3.297,1.164c0.682,0,1.26-0.051,1.734-0.152c0.474-0.102,0.919-0.257,1.336-0.465v-1.844
		c-0.511,0.239-1,0.414-1.469,0.523s-0.966,0.164-1.492,0.164c-0.677,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633
		V282.781z M153.625,282.352c0.042-0.589,0.206-1.043,0.492-1.363c0.286-0.32,0.682-0.48,1.188-0.48c0.505,0,0.906,0.16,1.203,0.48
		s0.45,0.774,0.461,1.363H153.625z" />
                    <path fill="#9E9D99" d="M168.656,282.781c0-1.239-0.344-2.211-1.031-2.914s-1.648-1.055-2.883-1.055
		c-1.292,0-2.304,0.399-3.035,1.199c-0.732,0.8-1.098,1.931-1.098,3.395c0,1.422,0.396,2.521,1.188,3.297
		c0.792,0.776,1.891,1.164,3.297,1.164c0.682,0,1.26-0.051,1.734-0.152c0.474-0.102,0.919-0.257,1.336-0.465v-1.844
		c-0.511,0.239-1,0.414-1.469,0.523s-0.966,0.164-1.492,0.164c-0.677,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633
		V282.781z M163.078,282.352c0.042-0.589,0.206-1.043,0.492-1.363c0.286-0.32,0.682-0.48,1.188-0.48c0.505,0,0.906,0.16,1.203,0.48
		s0.45,0.774,0.461,1.363H163.078z" />
                    <rect x="60" y="244" fill="#9E9D99" width="68" height="4" />
                    <rect x="132" y="244" fill="#9E9D99" width="39" height="4" />
                    <path fill="#9E9D99" d="M64.133,230.023c0.609-0.698,0.914-1.714,0.914-3.047v-10.688h-2.422v10.703
		c0,0.703-0.115,1.22-0.344,1.551c-0.229,0.331-0.609,0.496-1.141,0.496c-0.344,0-0.724-0.052-1.141-0.156v2.016
		c0.406,0.114,0.883,0.172,1.43,0.172C62.622,231.07,63.523,230.722,64.133,230.023z" />
                    <path fill="#9E9D99" d="M69.195,227.316c0.641,0.367,1.38,0.551,2.219,0.551c1.338,0,2.383-0.401,3.133-1.203
		s1.125-1.914,1.125-3.336c0-0.917-0.172-1.716-0.516-2.398s-0.836-1.206-1.477-1.57s-1.38-0.547-2.219-0.547
		c-1.349,0-2.396,0.396-3.141,1.188c-0.745,0.792-1.117,1.901-1.117,3.328c0,0.917,0.172,1.719,0.516,2.406
		S68.555,226.949,69.195,227.316z M70.055,221.379c0.281-0.43,0.739-0.645,1.375-0.645c0.641,0,1.102,0.216,1.383,0.648
		s0.422,1.081,0.422,1.945c0,0.87-0.14,1.524-0.418,1.965c-0.279,0.44-0.736,0.66-1.371,0.66c-0.641,0-1.103-0.222-1.387-0.664
		c-0.284-0.442-0.426-1.097-0.426-1.961C69.633,222.458,69.773,221.809,70.055,221.379z" />
                    <path fill="#9E9D99" d="M80.695,227.867c0.599,0,1.133-0.11,1.602-0.332s0.831-0.535,1.086-0.941h0.125l0.32,1.117h1.828v-8.734
		h-2.383v4.109c0,1.031-0.148,1.77-0.445,2.215s-0.779,0.668-1.445,0.668c-0.49,0-0.847-0.157-1.07-0.473
		c-0.224-0.315-0.336-0.788-0.336-1.418v-5.102h-2.383v5.695c0,1.031,0.26,1.821,0.781,2.371
		C78.896,227.593,79.669,227.867,80.695,227.867z" />
                    <path fill="#9E9D99" d="M90.539,223.266c0-0.703,0.212-1.25,0.637-1.641c0.424-0.391,1.017-0.586,1.777-0.586
		c0.276,0,0.51,0.026,0.703,0.078l0.18-2.234c-0.214-0.047-0.482-0.07-0.805-0.07c-0.542,0-1.043,0.149-1.504,0.449
		s-0.827,0.694-1.098,1.184h-0.117l-0.352-1.469h-1.805v8.734h2.383V223.266z" />
                    <path fill="#9E9D99" d="M97.805,223.602c0-1.031,0.148-1.77,0.445-2.215s0.778-0.668,1.445-0.668c0.489,0,0.846,0.157,1.07,0.473
		c0.224,0.315,0.336,0.788,0.336,1.418v5.102h2.383v-5.695c0-1.036-0.263-1.829-0.789-2.379c-0.526-0.55-1.297-0.824-2.313-0.824
		c-0.594,0-1.124,0.108-1.59,0.324c-0.466,0.216-0.832,0.535-1.098,0.957h-0.133l-0.32-1.117h-1.82v8.734h2.383V223.602z" />
                    <path fill="#9E9D99" d="M108.063,227.867c0.682,0,1.235-0.098,1.66-0.293c0.424-0.195,0.837-0.546,1.238-1.051h0.063l0.461,1.188
		h1.664v-5.82c0-1.042-0.313-1.817-0.938-2.328s-1.523-0.766-2.695-0.766c-1.224,0-2.339,0.263-3.344,0.789l0.789,1.609
		c0.942-0.422,1.763-0.633,2.461-0.633c0.906,0,1.359,0.442,1.359,1.328v0.383l-1.516,0.047c-1.308,0.047-2.285,0.29-2.934,0.73
		s-0.973,1.124-0.973,2.051c0,0.886,0.241,1.567,0.723,2.047C106.563,227.628,107.224,227.867,108.063,227.867z M108.313,224.07
		c0.338-0.229,0.854-0.354,1.547-0.375l0.922-0.031v0.719c0,0.526-0.166,0.948-0.496,1.266c-0.331,0.317-0.772,0.477-1.324,0.477
		c-0.771,0-1.156-0.336-1.156-1.008C107.805,224.648,107.974,224.3,108.313,224.07z" />
                    <rect x="115.602" y="215.555" fill="#9E9D99" width="2.383" height="12.156" />
                    <path fill="#9E9D99" d="M129.758,227.867c1.75,0,3.094-0.508,4.031-1.523s1.406-2.469,1.406-4.359c0-1.896-0.465-3.349-1.395-4.359
		s-2.272-1.516-4.027-1.516c-1.755,0-3.103,0.501-4.043,1.504c-0.94,1.003-1.41,2.454-1.41,4.355s0.469,3.359,1.406,4.375
		S128.008,227.867,129.758,227.867z M127.594,219.098c0.489-0.648,1.216-0.973,2.18-0.973c1.922,0,2.883,1.286,2.883,3.859
		c0,2.567-0.966,3.852-2.898,3.852c-0.964,0-1.688-0.323-2.172-0.969s-0.727-1.606-0.727-2.883S127.104,219.746,127.594,219.098z" />
                    <path fill="#9E9D99" d="M139.758,223.602c0-1.031,0.148-1.77,0.445-2.215s0.778-0.668,1.445-0.668c0.489,0,0.846,0.157,1.07,0.473
		c0.224,0.315,0.336,0.788,0.336,1.418v5.102h2.383v-5.695c0-1.036-0.263-1.829-0.789-2.379c-0.526-0.55-1.297-0.824-2.313-0.824
		c-0.594,0-1.124,0.108-1.59,0.324c-0.466,0.216-0.832,0.535-1.098,0.957h-0.133l-0.32-1.117h-1.82v8.734h2.383V223.602z" />
                    <path fill="#9E9D99" d="M155.406,222.781c0-1.239-0.344-2.211-1.031-2.914s-1.648-1.055-2.883-1.055
		c-1.292,0-2.304,0.399-3.035,1.199c-0.732,0.8-1.098,1.931-1.098,3.395c0,1.422,0.396,2.521,1.188,3.297
		c0.792,0.776,1.891,1.164,3.297,1.164c0.682,0,1.26-0.051,1.734-0.152c0.474-0.102,0.919-0.257,1.336-0.465v-1.844
		c-0.511,0.239-1,0.414-1.469,0.523s-0.966,0.164-1.492,0.164c-0.677,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633
		V222.781z M149.828,222.352c0.042-0.589,0.206-1.043,0.492-1.363c0.286-0.32,0.682-0.48,1.188-0.48c0.505,0,0.906,0.16,1.203,0.48
		s0.45,0.774,0.461,1.363H149.828z" />
                    <rect x="244" y="304" fill="#9E9D99" width="68" height="4" />
                    <rect x="316" y="304" fill="#9E9D99" width="39" height="4" />
                    <path fill="#9E9D99" d="M246.281,288.543c-0.229,0.331-0.609,0.496-1.141,0.496c-0.344,0-0.724-0.052-1.141-0.156v2.016
		c0.406,0.114,0.883,0.172,1.43,0.172c1.192,0,2.094-0.349,2.703-1.047s0.914-1.714,0.914-3.047v-10.688h-2.422v10.703
		C246.625,287.695,246.51,288.212,246.281,288.543z" />
                    <path fill="#9E9D99" d="M257.68,279.359c-0.641-0.364-1.38-0.547-2.219-0.547c-1.349,0-2.396,0.396-3.141,1.188
		c-0.745,0.792-1.117,1.901-1.117,3.328c0,0.917,0.172,1.719,0.516,2.406s0.836,1.215,1.477,1.582s1.38,0.551,2.219,0.551
		c1.338,0,2.383-0.401,3.133-1.203s1.125-1.914,1.125-3.336c0-0.917-0.172-1.716-0.516-2.398S258.32,279.724,257.68,279.359z
		 M256.816,285.293c-0.279,0.44-0.736,0.66-1.371,0.66c-0.641,0-1.103-0.222-1.387-0.664c-0.284-0.442-0.426-1.097-0.426-1.961
		c0-0.87,0.141-1.52,0.422-1.949s0.739-0.645,1.375-0.645c0.641,0,1.102,0.216,1.383,0.648s0.422,1.081,0.422,1.945
		C257.234,284.198,257.095,284.853,256.816,285.293z" />
                    <path fill="#9E9D99" d="M261.594,278.977v5.695c0,1.031,0.26,1.821,0.781,2.371c0.521,0.55,1.294,0.824,2.32,0.824
		c0.599,0,1.133-0.11,1.602-0.332s0.831-0.535,1.086-0.941h0.125l0.32,1.117h1.828v-8.734h-2.383v4.109
		c0,1.031-0.148,1.77-0.445,2.215s-0.779,0.668-1.445,0.668c-0.49,0-0.847-0.157-1.07-0.473c-0.224-0.315-0.336-0.788-0.336-1.418
		v-5.102H261.594z" />
                    <path fill="#9E9D99" d="M274.43,280.445h-0.117l-0.352-1.469h-1.805v8.734h2.383v-4.445c0-0.703,0.212-1.25,0.637-1.641
		c0.424-0.391,1.017-0.586,1.777-0.586c0.276,0,0.51,0.026,0.703,0.078l0.18-2.234c-0.214-0.047-0.482-0.07-0.805-0.07
		c-0.542,0-1.043,0.149-1.504,0.449S274.7,279.956,274.43,280.445z" />
                    <path fill="#9E9D99" d="M287.484,287.711v-5.695c0-1.036-0.263-1.829-0.789-2.379c-0.526-0.55-1.297-0.824-2.313-0.824
		c-0.594,0-1.124,0.108-1.59,0.324c-0.466,0.216-0.832,0.535-1.098,0.957h-0.133l-0.32-1.117h-1.82v8.734h2.383v-4.109
		c0-1.031,0.148-1.77,0.445-2.215s0.778-0.668,1.445-0.668c0.489,0,0.846,0.157,1.07,0.473c0.224,0.315,0.336,0.788,0.336,1.418
		v5.102H287.484z" />
                    <path fill="#9E9D99" d="M293.266,282.32c-1.308,0.047-2.285,0.29-2.934,0.73s-0.973,1.124-0.973,2.051
		c0,0.886,0.241,1.567,0.723,2.047c0.481,0.479,1.142,0.719,1.98,0.719c0.682,0,1.235-0.098,1.66-0.293
		c0.424-0.195,0.837-0.546,1.238-1.051h0.063l0.461,1.188h1.664v-5.82c0-1.042-0.313-1.817-0.938-2.328s-1.523-0.766-2.695-0.766
		c-1.224,0-2.339,0.263-3.344,0.789l0.789,1.609c0.942-0.422,1.763-0.633,2.461-0.633c0.906,0,1.359,0.442,1.359,1.328v0.383
		L293.266,282.32z M294.781,284.383c0,0.526-0.166,0.948-0.496,1.266c-0.331,0.317-0.772,0.477-1.324,0.477
		c-0.771,0-1.156-0.336-1.156-1.008c0-0.469,0.169-0.817,0.508-1.047c0.338-0.229,0.854-0.354,1.547-0.375l0.922-0.031V284.383z" />
                    <rect x="299.602" y="275.555" fill="#9E9D99" width="2.383" height="12.156" />
                    <polygon fill="#9E9D99" points="308.828,287.711 311.211,287.711 311.211,283.195 315.086,283.195 315.086,281.219 
		311.211,281.219 311.211,278.273 315.375,278.273 315.375,276.289 308.828,276.289 	" />
                    <path fill="#9E9D99" d="M318.883,287.316c0.641,0.367,1.38,0.551,2.219,0.551c1.338,0,2.383-0.401,3.133-1.203
		s1.125-1.914,1.125-3.336c0-0.917-0.172-1.716-0.516-2.398s-0.836-1.206-1.477-1.57s-1.381-0.547-2.219-0.547
		c-1.35,0-2.396,0.396-3.141,1.188c-0.745,0.792-1.117,1.901-1.117,3.328c0,0.917,0.172,1.719,0.516,2.406
		S318.242,286.949,318.883,287.316z M319.742,281.379c0.281-0.43,0.739-0.645,1.375-0.645c0.641,0,1.102,0.216,1.383,0.648
		s0.422,1.081,0.422,1.945c0,0.87-0.14,1.524-0.418,1.965c-0.279,0.44-0.736,0.66-1.371,0.66c-0.641,0-1.104-0.222-1.387-0.664
		c-0.284-0.442-0.426-1.097-0.426-1.961C319.32,282.458,319.461,281.809,319.742,281.379z" />
                    <path fill="#9E9D99" d="M327.281,278.977v5.695c0,1.031,0.26,1.821,0.781,2.371c0.521,0.55,1.294,0.824,2.32,0.824
		c0.599,0,1.133-0.11,1.602-0.332s0.83-0.535,1.086-0.941h0.125l0.32,1.117h1.828v-8.734h-2.383v4.109
		c0,1.031-0.148,1.77-0.445,2.215s-0.779,0.668-1.445,0.668c-0.49,0-0.847-0.157-1.07-0.473c-0.225-0.315-0.336-0.788-0.336-1.418
		v-5.102H327.281z" />
                    <path fill="#9E9D99" d="M340.863,281.625c0.424-0.391,1.017-0.586,1.777-0.586c0.275,0,0.51,0.026,0.703,0.078l0.18-2.234
		c-0.214-0.047-0.482-0.07-0.805-0.07c-0.542,0-1.043,0.149-1.504,0.449s-0.827,0.694-1.098,1.184H340l-0.352-1.469h-1.805v8.734
		h2.383v-4.445C340.227,282.563,340.438,282.016,340.863,281.625z" />
                    <rect x="244" y="244" fill="#9E9D99" width="68" height="4" />
                    <rect x="316" y="244" fill="#9E9D99" width="39" height="4" />
                    <path fill="#9E9D99" d="M249.047,226.977v-10.688h-2.422v10.703c0,0.703-0.115,1.22-0.344,1.551
		c-0.229,0.331-0.609,0.496-1.141,0.496c-0.344,0-0.724-0.052-1.141-0.156v2.016c0.406,0.114,0.883,0.172,1.43,0.172
		c1.192,0,2.094-0.349,2.703-1.047S249.047,228.31,249.047,226.977z" />
                    <path fill="#9E9D99" d="M253.195,227.316c0.641,0.367,1.38,0.551,2.219,0.551c1.338,0,2.383-0.401,3.133-1.203
		s1.125-1.914,1.125-3.336c0-0.917-0.172-1.716-0.516-2.398s-0.836-1.206-1.477-1.57s-1.38-0.547-2.219-0.547
		c-1.349,0-2.396,0.396-3.141,1.188c-0.745,0.792-1.117,1.901-1.117,3.328c0,0.917,0.172,1.719,0.516,2.406
		S252.555,226.949,253.195,227.316z M254.055,221.379c0.281-0.43,0.739-0.645,1.375-0.645c0.641,0,1.102,0.216,1.383,0.648
		s0.422,1.081,0.422,1.945c0,0.87-0.14,1.524-0.418,1.965c-0.279,0.44-0.736,0.66-1.371,0.66c-0.641,0-1.103-0.222-1.387-0.664
		c-0.284-0.442-0.426-1.097-0.426-1.961C253.633,222.458,253.773,221.809,254.055,221.379z" />
                    <path fill="#9E9D99" d="M261.594,218.977v5.695c0,1.031,0.26,1.821,0.781,2.371c0.521,0.55,1.294,0.824,2.32,0.824
		c0.599,0,1.133-0.11,1.602-0.332s0.831-0.535,1.086-0.941h0.125l0.32,1.117h1.828v-8.734h-2.383v4.109
		c0,1.031-0.148,1.77-0.445,2.215s-0.779,0.668-1.445,0.668c-0.49,0-0.847-0.157-1.07-0.473c-0.224-0.315-0.336-0.788-0.336-1.418
		v-5.102H261.594z" />
                    <path fill="#9E9D99" d="M274.43,220.445h-0.117l-0.352-1.469h-1.805v8.734h2.383v-4.445c0-0.703,0.212-1.25,0.637-1.641
		c0.424-0.391,1.017-0.586,1.777-0.586c0.276,0,0.51,0.026,0.703,0.078l0.18-2.234c-0.214-0.047-0.482-0.07-0.805-0.07
		c-0.542,0-1.043,0.149-1.504,0.449S274.7,219.956,274.43,220.445z" />
                    <path fill="#9E9D99" d="M287.484,227.711v-5.695c0-1.036-0.263-1.829-0.789-2.379c-0.526-0.55-1.297-0.824-2.313-0.824
		c-0.594,0-1.124,0.108-1.59,0.324c-0.466,0.216-0.832,0.535-1.098,0.957h-0.133l-0.32-1.117h-1.82v8.734h2.383v-4.109
		c0-1.031,0.148-1.77,0.445-2.215s0.778-0.668,1.445-0.668c0.489,0,0.846,0.157,1.07,0.473c0.224,0.315,0.336,0.788,0.336,1.418
		v5.102H287.484z" />
                    <path fill="#9E9D99" d="M293.266,222.32c-1.308,0.047-2.285,0.29-2.934,0.73s-0.973,1.124-0.973,2.051
		c0,0.886,0.241,1.567,0.723,2.047c0.481,0.479,1.142,0.719,1.98,0.719c0.682,0,1.235-0.098,1.66-0.293
		c0.424-0.195,0.837-0.546,1.238-1.051h0.063l0.461,1.188h1.664v-5.82c0-1.042-0.313-1.817-0.938-2.328s-1.523-0.766-2.695-0.766
		c-1.224,0-2.339,0.263-3.344,0.789l0.789,1.609c0.942-0.422,1.763-0.633,2.461-0.633c0.906,0,1.359,0.442,1.359,1.328v0.383
		L293.266,222.32z M294.781,224.383c0,0.526-0.166,0.948-0.496,1.266c-0.331,0.317-0.772,0.477-1.324,0.477
		c-0.771,0-1.156-0.336-1.156-1.008c0-0.469,0.169-0.817,0.508-1.047c0.338-0.229,0.854-0.354,1.547-0.375l0.922-0.031V224.383z" />
                    <rect x="299.602" y="215.555" fill="#9E9D99" width="2.383" height="12.156" />
                    <polygon fill="#9E9D99" points="313.234,218.305 316.336,218.305 316.336,216.289 307.711,216.289 307.711,218.305 
		310.813,218.305 310.813,227.711 313.234,227.711 	" />
                    <path fill="#9E9D99" d="M323.453,220.797h0.055l0.906,3.859l0.672,3.055h2.594l2.516-8.734h-2.336l-1.047,3.867
		c-0.053,0.229-0.139,0.671-0.258,1.324c-0.12,0.653-0.203,1.168-0.25,1.543h-0.047c-0.006-0.146-0.025-0.34-0.059-0.582
		c-0.034-0.242-0.072-0.489-0.113-0.742c-0.042-0.253-0.085-0.491-0.129-0.715c-0.045-0.224-0.077-0.394-0.098-0.508l-1.023-4.188
		h-2.625l-1.078,4.188l-0.125,0.664c-0.162,0.859-0.253,1.487-0.273,1.883h-0.047c-0.167-1.219-0.331-2.175-0.492-2.867
		l-1.008-3.867h-2.375l2.484,8.734h2.563L323.453,220.797z" />
                    <path fill="#9E9D99" d="M333.063,227.316c0.641,0.367,1.38,0.551,2.219,0.551c1.338,0,2.383-0.401,3.133-1.203
		s1.125-1.914,1.125-3.336c0-0.917-0.172-1.716-0.516-2.398s-0.836-1.206-1.477-1.57s-1.381-0.547-2.219-0.547
		c-1.35,0-2.396,0.396-3.141,1.188c-0.745,0.792-1.117,1.901-1.117,3.328c0,0.917,0.172,1.719,0.516,2.406
		S332.422,226.949,333.063,227.316z M333.922,221.379c0.281-0.43,0.739-0.645,1.375-0.645c0.641,0,1.102,0.216,1.383,0.648
		s0.422,1.081,0.422,1.945c0,0.87-0.14,1.524-0.418,1.965c-0.279,0.44-0.736,0.66-1.371,0.66c-0.641,0-1.104-0.222-1.387-0.664
		c-0.284-0.442-0.426-1.097-0.426-1.961C333.5,222.458,333.641,221.809,333.922,221.379z" />
                    <path fill="#9E9D99" d="M413.664,177.711l1.539-5.984c0.067-0.266,0.164-0.71,0.289-1.332s0.203-1.074,0.234-1.355
		c0.021,0.229,0.1,0.679,0.238,1.348c0.138,0.669,0.235,1.11,0.293,1.324l1.547,6h2.758l2.906-11.422h-2.383l-1.453,6.234
		c-0.094,0.375-0.198,0.866-0.313,1.473c-0.115,0.606-0.198,1.113-0.25,1.52c-0.058-0.422-0.141-0.927-0.25-1.516
		s-0.201-1.026-0.273-1.313l-1.664-6.398h-2.289l-1.664,6.398c-0.1,0.344-0.205,0.827-0.316,1.449
		c-0.112,0.622-0.184,1.082-0.215,1.379c-0.115-0.844-0.3-1.841-0.555-2.992l-1.461-6.234H408l2.914,11.422H413.664z" />
                    <rect x="424.719" y="168.977" fill="#9E9D99" width="2.383" height="8.734" />
                    <path fill="#9E9D99" d="M425.914,167.891c0.432,0,0.756-0.103,0.973-0.309c0.216-0.206,0.324-0.493,0.324-0.863
		c0-0.776-0.433-1.164-1.297-1.164c-0.865,0-1.297,0.388-1.297,1.164C424.617,167.5,425.049,167.891,425.914,167.891z" />
                    <path fill="#9E9D99" d="M432.367,177.867c1.109,0,1.935-0.43,2.477-1.289h0.102l0.461,1.133h1.828v-12.156h-2.391v2.797
		c0,0.511,0.06,1.091,0.18,1.742h-0.078c-0.578-0.854-1.417-1.281-2.516-1.281c-1.047,0-1.869,0.399-2.465,1.199
		c-0.597,0.8-0.895,1.915-0.895,3.348c0,1.411,0.293,2.516,0.879,3.313S431.341,177.867,432.367,177.867z M431.926,171.426
		c0.294-0.45,0.707-0.676,1.238-0.676c0.65,0,1.121,0.203,1.41,0.609s0.434,1.078,0.434,2.016v0.258
		c-0.026,0.849-0.182,1.45-0.465,1.805c-0.284,0.354-0.73,0.531-1.34,0.531c-0.553,0-0.977-0.215-1.273-0.645
		s-0.445-1.074-0.445-1.934S431.631,171.876,431.926,171.426z" />
                    <path fill="#9E9D99" d="M439.488,180.918c0.643,0.425,1.574,0.637,2.793,0.637c1.594,0,2.816-0.281,3.668-0.844
		s1.277-1.354,1.277-2.375c0-0.797-0.252-1.401-0.754-1.813c-0.503-0.411-1.233-0.617-2.191-0.617h-1.484
		c-0.875,0-1.313-0.172-1.313-0.516c0-0.229,0.122-0.438,0.367-0.625l0.352,0.039l0.43,0.023c1.161,0,2.068-0.262,2.723-0.785
		c0.653-0.523,0.98-1.254,0.98-2.191c0-0.484-0.125-0.922-0.375-1.313l1.367-0.352v-1.211h-3.047
		c-0.094-0.021-0.309-0.054-0.645-0.098s-0.627-0.066-0.871-0.066c-1.151,0-2.037,0.261-2.656,0.781
		c-0.62,0.521-0.93,1.258-0.93,2.211c0,0.594,0.134,1.109,0.402,1.547c0.268,0.438,0.631,0.755,1.09,0.953
		c-0.365,0.214-0.644,0.431-0.836,0.652c-0.193,0.222-0.289,0.499-0.289,0.832c0,0.266,0.091,0.517,0.273,0.754
		c0.182,0.237,0.396,0.407,0.641,0.512c-0.636,0.151-1.117,0.403-1.445,0.758s-0.492,0.794-0.492,1.32
		C438.523,179.898,438.845,180.493,439.488,180.918z M442.766,170.258c0.864,0,1.297,0.526,1.297,1.578
		c0,0.474-0.104,0.849-0.313,1.125c-0.209,0.276-0.537,0.414-0.984,0.414c-0.443,0-0.772-0.138-0.988-0.414
		c-0.217-0.276-0.324-0.651-0.324-1.125C441.453,170.784,441.891,170.258,442.766,170.258z M441.027,178.129
		c0.294-0.206,0.66-0.309,1.098-0.309h1.234c0.599,0,1.041,0.063,1.328,0.188c0.286,0.125,0.43,0.352,0.43,0.68
		c0,0.406-0.242,0.727-0.727,0.961S443.236,180,442.383,180c-0.568,0-1.01-0.094-1.324-0.281c-0.315-0.188-0.473-0.445-0.473-0.773
		C440.586,178.606,440.732,178.335,441.027,178.129z" />
                    <path fill="#9E9D99" d="M452.719,177.867c0.682,0,1.26-0.051,1.734-0.152c0.474-0.102,0.919-0.257,1.336-0.465v-1.844
		c-0.511,0.239-1,0.414-1.469,0.523s-0.967,0.164-1.492,0.164c-0.678,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633
		v-1.156c0-1.239-0.344-2.211-1.031-2.914s-1.648-1.055-2.883-1.055c-1.292,0-2.304,0.399-3.035,1.199
		c-0.732,0.8-1.098,1.931-1.098,3.395c0,1.422,0.396,2.521,1.188,3.297C450.213,177.479,451.313,177.867,452.719,177.867z
		 M451.195,170.988c0.286-0.32,0.682-0.48,1.188-0.48c0.505,0,0.906,0.16,1.203,0.48s0.45,0.774,0.461,1.363h-3.344
		C450.744,171.763,450.908,171.309,451.195,170.988z" />
                    <path fill="#9E9D99" d="M458.477,174.977c0,0.964,0.217,1.687,0.652,2.168c0.435,0.481,1.129,0.723,2.082,0.723
		c0.864,0,1.594-0.133,2.188-0.398v-1.773c-0.584,0.183-1.084,0.273-1.5,0.273c-0.313,0-0.564-0.081-0.754-0.242
		c-0.19-0.161-0.285-0.411-0.285-0.75v-4.211h2.445v-1.789h-2.445v-1.859h-1.523l-0.688,1.844l-1.313,0.797v1.008h1.141V174.977z" />
                    <polygon fill="#9E9D99" points="471.93,172.781 476.453,172.781 476.453,177.711 478.867,177.711 478.867,166.289 476.453,166.289 
		476.453,170.766 471.93,170.766 471.93,166.289 469.508,166.289 469.508,177.711 471.93,177.711 	" />
                    <path fill="#9E9D99" d="M485.516,177.867c0.682,0,1.26-0.051,1.734-0.152c0.474-0.102,0.919-0.257,1.336-0.465v-1.844
		c-0.511,0.239-1,0.414-1.469,0.523s-0.967,0.164-1.492,0.164c-0.678,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633
		v-1.156c0-1.239-0.344-2.211-1.031-2.914s-1.648-1.055-2.883-1.055c-1.292,0-2.304,0.399-3.035,1.199
		c-0.732,0.8-1.098,1.931-1.098,3.395c0,1.422,0.396,2.521,1.188,3.297C483.01,177.479,484.109,177.867,485.516,177.867z
		 M483.992,170.988c0.286-0.32,0.682-0.48,1.188-0.48c0.505,0,0.906,0.16,1.203,0.48s0.45,0.774,0.461,1.363H483.5
		C483.541,171.763,483.705,171.309,483.992,170.988z" />
                    <path fill="#9E9D99" d="M493.141,177.867c0.682,0,1.235-0.098,1.66-0.293c0.424-0.195,0.837-0.546,1.238-1.051h0.063l0.461,1.188
		h1.664v-5.82c0-1.042-0.313-1.817-0.938-2.328s-1.523-0.766-2.695-0.766c-1.225,0-2.339,0.263-3.344,0.789l0.789,1.609
		c0.942-0.422,1.763-0.633,2.461-0.633c0.906,0,1.359,0.442,1.359,1.328v0.383l-1.516,0.047c-1.308,0.047-2.285,0.29-2.934,0.73
		s-0.973,1.124-0.973,2.051c0,0.886,0.24,1.567,0.723,2.047C491.642,177.628,492.302,177.867,493.141,177.867z M493.391,174.07
		c0.338-0.229,0.854-0.354,1.547-0.375l0.922-0.031v0.719c0,0.526-0.166,0.948-0.496,1.266c-0.331,0.317-0.772,0.477-1.324,0.477
		c-0.771,0-1.156-0.336-1.156-1.008C492.883,174.648,493.052,174.3,493.391,174.07z" />
                    <path fill="#9E9D99" d="M503.445,177.867c1.109,0,1.935-0.43,2.477-1.289h0.102l0.461,1.133h1.828v-12.156h-2.391v2.797
		c0,0.511,0.06,1.091,0.18,1.742h-0.078c-0.578-0.854-1.417-1.281-2.516-1.281c-1.047,0-1.869,0.399-2.465,1.199
		c-0.597,0.8-0.895,1.915-0.895,3.348c0,1.411,0.293,2.516,0.879,3.313S502.419,177.867,503.445,177.867z M503.004,171.426
		c0.294-0.45,0.707-0.676,1.238-0.676c0.65,0,1.121,0.203,1.41,0.609s0.434,1.078,0.434,2.016v0.258
		c-0.026,0.849-0.182,1.45-0.465,1.805c-0.284,0.354-0.73,0.531-1.34,0.531c-0.553,0-0.977-0.215-1.273-0.645
		s-0.445-1.074-0.445-1.934S502.709,171.876,503.004,171.426z" />
                    <path fill="#9E9D99" d="M514.758,177.867c0.682,0,1.26-0.051,1.734-0.152c0.474-0.102,0.919-0.257,1.336-0.465v-1.844
		c-0.511,0.239-1,0.414-1.469,0.523s-0.967,0.164-1.492,0.164c-0.678,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633
		v-1.156c0-1.239-0.344-2.211-1.031-2.914s-1.648-1.055-2.883-1.055c-1.292,0-2.304,0.399-3.035,1.199
		c-0.732,0.8-1.098,1.931-1.098,3.395c0,1.422,0.396,2.521,1.188,3.297C512.252,177.479,513.352,177.867,514.758,177.867z
		 M513.234,170.988c0.286-0.32,0.682-0.48,1.188-0.48c0.505,0,0.906,0.16,1.203,0.48s0.45,0.774,0.461,1.363h-3.344
		C512.783,171.763,512.947,171.309,513.234,170.988z" />
                    <path fill="#9E9D99" d="M522.641,173.266c0-0.703,0.212-1.25,0.637-1.641c0.424-0.391,1.017-0.586,1.777-0.586
		c0.275,0,0.51,0.026,0.703,0.078l0.18-2.234c-0.214-0.047-0.482-0.07-0.805-0.07c-0.542,0-1.043,0.149-1.504,0.449
		s-0.827,0.694-1.098,1.184h-0.117l-0.352-1.469h-1.805v8.734h2.383V173.266z" />
                    <path fill="#9E9D99" d="M419.633,412.523c-0.094,0.375-0.198,0.866-0.313,1.473c-0.115,0.606-0.198,1.113-0.25,1.52
		c-0.058-0.422-0.141-0.927-0.25-1.516s-0.201-1.026-0.273-1.313l-1.664-6.398h-2.289l-1.664,6.398
		c-0.1,0.344-0.205,0.827-0.316,1.449c-0.112,0.622-0.184,1.082-0.215,1.379c-0.115-0.844-0.3-1.841-0.555-2.992l-1.461-6.234H408
		l2.914,11.422h2.75l1.539-5.984c0.067-0.266,0.164-0.71,0.289-1.332s0.203-1.074,0.234-1.355c0.021,0.229,0.1,0.679,0.238,1.348
		c0.138,0.669,0.235,1.11,0.293,1.324l1.547,6h2.758l2.906-11.422h-2.383L419.633,412.523z" />
                    <rect x="424.719" y="408.977" fill="#9E9D99" width="2.383" height="8.734" />
                    <path fill="#9E9D99" d="M425.914,405.555c-0.865,0-1.297,0.388-1.297,1.164c0,0.781,0.432,1.172,1.297,1.172
		c0.432,0,0.756-0.103,0.973-0.309c0.216-0.206,0.324-0.493,0.324-0.863C427.211,405.942,426.778,405.555,425.914,405.555z" />
                    <path fill="#9E9D99" d="M434.844,408.352c0,0.511,0.06,1.091,0.18,1.742h-0.078c-0.578-0.854-1.417-1.281-2.516-1.281
		c-1.047,0-1.869,0.399-2.465,1.199c-0.597,0.8-0.895,1.915-0.895,3.348c0,1.411,0.293,2.516,0.879,3.313s1.392,1.195,2.418,1.195
		c1.109,0,1.935-0.43,2.477-1.289h0.102l0.461,1.133h1.828v-12.156h-2.391V408.352z M435.008,413.633
		c-0.026,0.849-0.182,1.45-0.465,1.805c-0.284,0.354-0.73,0.531-1.34,0.531c-0.553,0-0.977-0.215-1.273-0.645
		s-0.445-1.074-0.445-1.934s0.146-1.515,0.441-1.965c0.294-0.45,0.707-0.676,1.238-0.676c0.65,0,1.121,0.203,1.41,0.609
		s0.434,1.078,0.434,2.016V413.633z" />
                    <path fill="#9E9D99" d="M443.637,408.879c-0.336-0.044-0.627-0.066-0.871-0.066c-1.151,0-2.037,0.261-2.656,0.781
		c-0.62,0.521-0.93,1.258-0.93,2.211c0,0.594,0.134,1.109,0.402,1.547c0.268,0.438,0.631,0.755,1.09,0.953
		c-0.365,0.214-0.644,0.431-0.836,0.652c-0.193,0.222-0.289,0.499-0.289,0.832c0,0.266,0.091,0.517,0.273,0.754
		c0.182,0.237,0.396,0.407,0.641,0.512c-0.636,0.151-1.117,0.403-1.445,0.758s-0.492,0.794-0.492,1.32
		c0,0.766,0.321,1.36,0.965,1.785c0.643,0.425,1.574,0.637,2.793,0.637c1.594,0,2.816-0.281,3.668-0.844s1.277-1.354,1.277-2.375
		c0-0.797-0.252-1.401-0.754-1.813c-0.503-0.411-1.233-0.617-2.191-0.617h-1.484c-0.875,0-1.313-0.172-1.313-0.516
		c0-0.229,0.122-0.438,0.367-0.625l0.352,0.039l0.43,0.023c1.161,0,2.068-0.262,2.723-0.785c0.653-0.523,0.98-1.254,0.98-2.191
		c0-0.484-0.125-0.922-0.375-1.313l1.367-0.352v-1.211h-3.047C444.188,408.956,443.973,408.923,443.637,408.879z M442.125,417.82
		h1.234c0.599,0,1.041,0.063,1.328,0.188c0.286,0.125,0.43,0.352,0.43,0.68c0,0.406-0.242,0.727-0.727,0.961
		S443.236,420,442.383,420c-0.568,0-1.01-0.094-1.324-0.281c-0.315-0.188-0.473-0.445-0.473-0.773c0-0.339,0.146-0.61,0.441-0.816
		C441.321,417.923,441.688,417.82,442.125,417.82z M443.75,412.961c-0.209,0.276-0.537,0.414-0.984,0.414
		c-0.443,0-0.772-0.138-0.988-0.414c-0.217-0.276-0.324-0.651-0.324-1.125c0-1.052,0.438-1.578,1.313-1.578
		c0.864,0,1.297,0.526,1.297,1.578C444.063,412.31,443.958,412.685,443.75,412.961z" />
                    <path fill="#9E9D99" d="M452.367,408.813c-1.292,0-2.304,0.399-3.035,1.199c-0.732,0.8-1.098,1.931-1.098,3.395
		c0,1.422,0.396,2.521,1.188,3.297c0.791,0.776,1.891,1.164,3.297,1.164c0.682,0,1.26-0.051,1.734-0.152
		c0.474-0.102,0.919-0.257,1.336-0.465v-1.844c-0.511,0.239-1,0.414-1.469,0.523s-0.967,0.164-1.492,0.164
		c-0.678,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633v-1.156c0-1.239-0.344-2.211-1.031-2.914
		S453.602,408.813,452.367,408.813z M450.703,412.352c0.041-0.589,0.205-1.043,0.492-1.363c0.286-0.32,0.682-0.48,1.188-0.48
		c0.505,0,0.906,0.16,1.203,0.48s0.45,0.774,0.461,1.363H450.703z" />
                    <path fill="#9E9D99" d="M461.145,415.727c-0.19-0.161-0.285-0.411-0.285-0.75v-4.211h2.445v-1.789h-2.445v-1.859h-1.523
		l-0.688,1.844l-1.313,0.797v1.008h1.141v4.211c0,0.964,0.217,1.687,0.652,2.168c0.435,0.481,1.129,0.723,2.082,0.723
		c0.864,0,1.594-0.133,2.188-0.398v-1.773c-0.584,0.183-1.084,0.273-1.5,0.273C461.586,415.969,461.334,415.888,461.145,415.727z" />
                    <polygon fill="#9E9D99" points="476.453,410.766 471.93,410.766 471.93,406.289 469.508,406.289 469.508,417.711 471.93,417.711 
		471.93,412.781 476.453,412.781 476.453,417.711 478.867,417.711 478.867,406.289 476.453,406.289 	" />
                    <path fill="#9E9D99" d="M485.164,408.813c-1.292,0-2.304,0.399-3.035,1.199c-0.732,0.8-1.098,1.931-1.098,3.395
		c0,1.422,0.396,2.521,1.188,3.297c0.791,0.776,1.891,1.164,3.297,1.164c0.682,0,1.26-0.051,1.734-0.152
		c0.474-0.102,0.919-0.257,1.336-0.465v-1.844c-0.511,0.239-1,0.414-1.469,0.523s-0.967,0.164-1.492,0.164
		c-0.678,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633v-1.156c0-1.239-0.344-2.211-1.031-2.914
		S486.398,408.813,485.164,408.813z M483.5,412.352c0.041-0.589,0.205-1.043,0.492-1.363c0.286-0.32,0.682-0.48,1.188-0.48
		c0.505,0,0.906,0.16,1.203,0.48s0.45,0.774,0.461,1.363H483.5z" />
                    <path fill="#9E9D99" d="M494.594,408.797c-1.225,0-2.339,0.263-3.344,0.789l0.789,1.609c0.942-0.422,1.763-0.633,2.461-0.633
		c0.906,0,1.359,0.442,1.359,1.328v0.383l-1.516,0.047c-1.308,0.047-2.285,0.29-2.934,0.73s-0.973,1.124-0.973,2.051
		c0,0.886,0.24,1.567,0.723,2.047c0.481,0.479,1.142,0.719,1.98,0.719c0.682,0,1.235-0.098,1.66-0.293
		c0.424-0.195,0.837-0.546,1.238-1.051h0.063l0.461,1.188h1.664v-5.82c0-1.042-0.313-1.817-0.938-2.328
		S495.766,408.797,494.594,408.797z M495.859,414.383c0,0.526-0.166,0.948-0.496,1.266c-0.331,0.317-0.772,0.477-1.324,0.477
		c-0.771,0-1.156-0.336-1.156-1.008c0-0.469,0.169-0.817,0.508-1.047c0.338-0.229,0.854-0.354,1.547-0.375l0.922-0.031V414.383z" />
                    <path fill="#9E9D99" d="M505.922,408.352c0,0.511,0.06,1.091,0.18,1.742h-0.078c-0.578-0.854-1.417-1.281-2.516-1.281
		c-1.047,0-1.869,0.399-2.465,1.199c-0.597,0.8-0.895,1.915-0.895,3.348c0,1.411,0.293,2.516,0.879,3.313s1.392,1.195,2.418,1.195
		c1.109,0,1.935-0.43,2.477-1.289h0.102l0.461,1.133h1.828v-12.156h-2.391V408.352z M506.086,413.633
		c-0.026,0.849-0.182,1.45-0.465,1.805c-0.284,0.354-0.73,0.531-1.34,0.531c-0.553,0-0.977-0.215-1.273-0.645
		s-0.445-1.074-0.445-1.934s0.146-1.515,0.441-1.965c0.294-0.45,0.707-0.676,1.238-0.676c0.65,0,1.121,0.203,1.41,0.609
		s0.434,1.078,0.434,2.016V413.633z" />
                    <path fill="#9E9D99" d="M514.406,408.813c-1.292,0-2.304,0.399-3.035,1.199c-0.732,0.8-1.098,1.931-1.098,3.395
		c0,1.422,0.396,2.521,1.188,3.297c0.791,0.776,1.891,1.164,3.297,1.164c0.682,0,1.26-0.051,1.734-0.152
		c0.474-0.102,0.919-0.257,1.336-0.465v-1.844c-0.511,0.239-1,0.414-1.469,0.523s-0.967,0.164-1.492,0.164
		c-0.678,0-1.203-0.19-1.578-0.57s-0.576-0.909-0.602-1.586h5.633v-1.156c0-1.239-0.344-2.211-1.031-2.914
		S515.641,408.813,514.406,408.813z M512.742,412.352c0.041-0.589,0.205-1.043,0.492-1.363c0.286-0.32,0.682-0.48,1.188-0.48
		c0.505,0,0.906,0.16,1.203,0.48s0.45,0.774,0.461,1.363H512.742z" />
                    <path fill="#9E9D99" d="M522.641,413.266c0-0.703,0.212-1.25,0.637-1.641c0.424-0.391,1.017-0.586,1.777-0.586
		c0.275,0,0.51,0.026,0.703,0.078l0.18-2.234c-0.214-0.047-0.482-0.07-0.805-0.07c-0.542,0-1.043,0.149-1.504,0.449
		s-0.827,0.694-1.098,1.184h-0.117l-0.352-1.469h-1.805v8.734h2.383V413.266z" />
                    <rect x="24" y="576" fill="#9E9D99" width="52" height="4" />
                    <rect x="80" y="576" fill="#9E9D99" width="16" height="4" />
                    <rect x="100" y="576" fill="#9E9D99" width="16" height="4" />
                    <rect x="522" y="568" fill="#9E9D99" width="62" height="16" />
                    <g>
                        <polygon fill="#A0C7E5" class="brand-primary" points="31.2,516.2 27,516.2 27,531.8 37.2,531.8 37.2,528.4 31.2,528.4 		" />
                        <path fill="#A0C7E5" class="brand-primary" d="M46.6,516c-2.4,0-4.3,0.7-5.6,2s-1.9,3.3-1.9,5.9c0,2.6,0.7,4.6,2,6c1.3,1.4,3.2,2.1,5.6,2.1
			c2.4,0,4.3-0.6,5.6-2c1.3-1.4,1.9-3.4,1.9-6c0-2.6-0.6-4.6-2-6C50.9,516.7,49.1,516,46.6,516z M49,527.4c-0.5,0.7-1.3,1.1-2.4,1.1
			c-2.1,0-3.1-1.5-3.1-4.5s1.1-4.6,3.2-4.5c1,0,1.8,0.4,2.3,1.1s0.8,1.8,0.8,3.4C49.8,525.5,49.5,526.7,49,527.4z" />
                        <path fill="#A0C7E5" class="brand-primary" d="M63.3,525.9h2.8v2.4c-0.5,0.1-1.1,0.2-1.7,0.2c-1.1,0-2-0.3-2.6-1.1c-0.6-0.7-0.9-1.8-0.9-3.3
			s0.3-2.6,1-3.4c0.6-0.8,1.6-1.2,2.8-1.2c1.4,0,2.6,0.2,3.7,0.8l1.3-3.3c-0.7-0.3-1.4-0.5-2.3-0.7c-0.9-0.2-1.8-0.3-2.8-0.3
			c-2.6,0-4.6,0.7-6.1,2.1c-1.4,1.4-2.1,3.4-2.1,5.9s0.7,4.5,2,5.9c1.4,1.4,3.2,2.1,5.6,2.1c2.2,0,4.2-0.3,6-0.9v-8.4h-6.7V525.9z" />
                        <path fill="#A0C7E5" class="brand-primary" d="M85.7,518c-1.3-1.3-3.1-2-5.6-2c-2.4,0-4.3,0.6-5.6,2c-1.3,1.3-1.9,3.3-1.9,5.9c0,2.6,0.7,4.6,2,6
			c1.3,1.4,3.2,2.1,5.6,2.1c2.4,0,4.3-0.6,5.6-2c1.3-1.4,1.9-3.4,1.9-6C87.7,521.4,87,519.4,85.7,518z M82.5,527.4
			c-0.5,0.7-1.3,1.1-2.4,1.1c-2.1,0-3.1-1.5-3.1-4.5s1-4.6,3.2-4.5c1,0,1.8,0.4,2.3,1.1s0.8,1.8,0.8,3.4
			C83.3,525.5,83,526.7,82.5,527.4z" />
                    </g>
                    <g>
                        <path fill="#9E9D99" d="M172.703,140h-2.414v-4.93h-4.523V140h-2.422v-11.422h2.422v4.477h4.523v-4.477h2.414V140z" />
                        <path fill="#9E9D99" d="M179.352,140.156c-1.406,0-2.505-0.388-3.297-1.164c-0.792-0.776-1.188-1.875-1.188-3.297
			c0-1.464,0.366-2.595,1.098-3.395c0.731-0.8,1.743-1.199,3.035-1.199c1.234,0,2.195,0.352,2.883,1.055s1.031,1.675,1.031,2.914
			v1.156h-5.633c0.026,0.677,0.227,1.206,0.602,1.586s0.901,0.57,1.578,0.57c0.526,0,1.023-0.055,1.492-0.164
			s0.958-0.284,1.469-0.523v1.844c-0.417,0.208-0.862,0.363-1.336,0.465C180.612,140.105,180.034,140.156,179.352,140.156z
			 M179.016,132.797c-0.505,0-0.901,0.16-1.188,0.48c-0.287,0.32-0.451,0.774-0.492,1.363h3.344
			c-0.011-0.589-0.164-1.043-0.461-1.363S179.521,132.797,179.016,132.797z" />
                        <path fill="#9E9D99" d="M189.727,131.102c0.323,0,0.591,0.023,0.805,0.07l-0.18,2.234c-0.193-0.052-0.427-0.078-0.703-0.078
			c-0.761,0-1.353,0.195-1.777,0.586c-0.425,0.391-0.637,0.938-0.637,1.641V140h-2.383v-8.734h1.805l0.352,1.469h0.117
			c0.271-0.489,0.637-0.884,1.098-1.184S189.185,131.102,189.727,131.102z" />
                        <path fill="#9E9D99" d="M200.055,135.617c0,1.422-0.375,2.534-1.125,3.336s-1.794,1.203-3.133,1.203
			c-0.839,0-1.578-0.184-2.219-0.551s-1.133-0.895-1.477-1.582s-0.516-1.489-0.516-2.406c0-1.427,0.372-2.536,1.117-3.328
			c0.745-0.792,1.792-1.188,3.141-1.188c0.838,0,1.578,0.183,2.219,0.547s1.133,0.888,1.477,1.57S200.055,134.7,200.055,135.617z
			 M194.016,135.617c0,0.864,0.142,1.519,0.426,1.961c0.284,0.442,0.746,0.664,1.387,0.664c0.635,0,1.092-0.22,1.371-0.66
			c0.278-0.44,0.418-1.095,0.418-1.965c0-0.864-0.141-1.513-0.422-1.945s-0.742-0.648-1.383-0.648c-0.636,0-1.094,0.215-1.375,0.645
			S194.016,134.747,194.016,135.617z" />
                        <path fill="#9E9D99" d="M206.367,140v-11.422h2.422V140H206.367z" />
                        <path fill="#9E9D99" d="M219.297,140h-2.383v-5.102c0-0.63-0.105-1.103-0.316-1.418s-0.543-0.473-0.996-0.473
			c-0.609,0-1.052,0.224-1.328,0.672c-0.276,0.448-0.414,1.185-0.414,2.211V140h-2.383v-8.734h1.82l0.32,1.117h0.133
			c0.234-0.401,0.573-0.715,1.016-0.941c0.442-0.227,0.95-0.34,1.523-0.34c1.307,0,2.192,0.427,2.656,1.281h0.211
			c0.234-0.406,0.579-0.722,1.035-0.945c0.456-0.224,0.97-0.336,1.543-0.336c0.989,0,1.738,0.254,2.246,0.762
			s0.762,1.321,0.762,2.441V140h-2.391v-5.102c0-0.63-0.105-1.103-0.316-1.418s-0.543-0.473-0.996-0.473
			c-0.583,0-1.02,0.208-1.309,0.625s-0.434,1.078-0.434,1.984V140z" />
                        <path fill="#9E9D99" d="M232.734,140l-0.461-1.188h-0.063c-0.401,0.505-0.814,0.855-1.238,1.051
			c-0.425,0.195-0.978,0.293-1.66,0.293c-0.839,0-1.499-0.239-1.98-0.719c-0.482-0.479-0.723-1.161-0.723-2.047
			c0-0.927,0.324-1.61,0.973-2.051s1.626-0.684,2.934-0.73l1.516-0.047v-0.383c0-0.886-0.453-1.328-1.359-1.328
			c-0.698,0-1.519,0.211-2.461,0.633l-0.789-1.609c1.005-0.526,2.12-0.789,3.344-0.789c1.172,0,2.07,0.255,2.695,0.766
			s0.938,1.286,0.938,2.328V140H232.734z M232.031,135.953l-0.922,0.031c-0.693,0.021-1.208,0.146-1.547,0.375
			c-0.339,0.229-0.508,0.578-0.508,1.047c0,0.672,0.385,1.008,1.156,1.008c0.552,0,0.993-0.159,1.324-0.477
			c0.331-0.317,0.496-0.739,0.496-1.266V135.953z" />
                        <path fill="#9E9D99" d="M244.453,131.266v1.211l-1.367,0.352c0.25,0.391,0.375,0.828,0.375,1.313c0,0.938-0.327,1.668-0.98,2.191
			c-0.654,0.523-1.562,0.785-2.723,0.785l-0.43-0.023l-0.352-0.039c-0.245,0.188-0.367,0.396-0.367,0.625
			c0,0.344,0.438,0.516,1.313,0.516h1.484c0.958,0,1.688,0.206,2.191,0.617c0.502,0.411,0.754,1.016,0.754,1.813
			c0,1.021-0.426,1.813-1.277,2.375s-2.074,0.844-3.668,0.844c-1.219,0-2.15-0.212-2.793-0.637c-0.644-0.425-0.965-1.02-0.965-1.785
			c0-0.526,0.164-0.966,0.492-1.32s0.81-0.606,1.445-0.758c-0.245-0.104-0.458-0.274-0.641-0.512
			c-0.183-0.237-0.273-0.488-0.273-0.754c0-0.333,0.096-0.61,0.289-0.832c0.192-0.222,0.471-0.438,0.836-0.652
			c-0.458-0.198-0.822-0.516-1.09-0.953c-0.269-0.438-0.402-0.953-0.402-1.547c0-0.953,0.31-1.69,0.93-2.211
			c0.62-0.521,1.505-0.781,2.656-0.781c0.245,0,0.535,0.022,0.871,0.066s0.551,0.077,0.645,0.098H244.453z M237.711,141.234
			c0,0.328,0.157,0.586,0.473,0.773c0.315,0.188,0.756,0.281,1.324,0.281c0.854,0,1.523-0.117,2.008-0.352s0.727-0.555,0.727-0.961
			c0-0.328-0.144-0.555-0.43-0.68c-0.287-0.125-0.729-0.188-1.328-0.188h-1.234c-0.438,0-0.804,0.103-1.098,0.309
			C237.858,140.624,237.711,140.896,237.711,141.234z M238.578,134.125c0,0.474,0.108,0.849,0.324,1.125
			c0.216,0.276,0.545,0.414,0.988,0.414c0.448,0,0.776-0.138,0.984-0.414c0.208-0.276,0.313-0.651,0.313-1.125
			c0-1.052-0.433-1.578-1.297-1.578C239.016,132.547,238.578,133.073,238.578,134.125z" />
                        <path fill="#9E9D99" d="M249.844,140.156c-1.406,0-2.505-0.388-3.297-1.164c-0.792-0.776-1.188-1.875-1.188-3.297
			c0-1.464,0.366-2.595,1.098-3.395c0.731-0.8,1.743-1.199,3.035-1.199c1.234,0,2.195,0.352,2.883,1.055s1.031,1.675,1.031,2.914
			v1.156h-5.633c0.026,0.677,0.227,1.206,0.602,1.586s0.901,0.57,1.578,0.57c0.526,0,1.023-0.055,1.492-0.164
			s0.958-0.284,1.469-0.523v1.844c-0.417,0.208-0.862,0.363-1.336,0.465C251.104,140.105,250.526,140.156,249.844,140.156z
			 M249.508,132.797c-0.505,0-0.901,0.16-1.188,0.48c-0.287,0.32-0.451,0.774-0.492,1.363h3.344
			c-0.011-0.589-0.164-1.043-0.461-1.363S250.013,132.797,249.508,132.797z" />
                    </g>
                </g>
                
                <image class="logo-placeholder" width="64px" height="16px" y="24" x="26" xlink:href="/images/content/placeholder-logo.svg" />
                
            </svg>


        </div>
    </div>
</section>