<section id="identity" class="whg-section">
    <!-- CONTENT Container -->
    <div class="whg-section__text">
        <div class="whg-section__text-content">
            <!-- Put content here -->

            <h2 class="decorated">Identity Overview</h2>
            <p class="lead">How can we make your Hub reflect your brand?</p>

            <p>In the following section we will present the various Hub pages mentioned before and articulate how and where we can accommodate your unique brand requirements.</p>
            <p>This can include anything from logos and colours, to journal covers and key graphics or imagery.</p>
            <p>However, it is important to be aware that a well thought out identity does not stop at the logos and colours shown on a website. It persists through the style of writing, the name and URL of the site, the style of photography, and many other aspects.</p>

            <p><strong>Some aspects of your Hub you may want to consider early in the process include:</strong></p>
            <!--accordian-->
            <div class="panel-group" id="accordion-identity" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion-identity" href="#identity1" aria-expanded="true" aria-controls="identity1">
          Site URL <small>domain name / web address</small>
        </a>
      </h4>
                    </div>
                    <div id="identity1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>All Hubs published by Wiley follow the same domain name format: <strong>hubname</strong>.onlinelibrary.wiley.com</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-identity" href="#identity2" aria-expanded="false" aria-controls="identity2">
          Color scheme
        </a>
      </h4>
                    </div>
                    <div id="identity2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>A Hub colour pallette should be restricted to two primary colours, a ‘brand’ color and an ‘action’ color. This can be extended to a third if necessary.</p>
                            <p>The brand color will be used for text links and detailing.</p>
                            <p>The action color will be used for important links, buttons, and other areas that require the user’s attention. It should be distinguishable from the brand color and will be used sparingly throughout the interface. </p>
                            <p>Colors can be supplied directly as either RGB values or HEX values. If this is not possible or you do not feel comfortable specifying these values, we can extract a color scheme from a logo or image. These 2 colors will be assisted by a range of grey tones (already specified) to aid with visual hierarchy, detailing and typography.</p>
                            <p>You can use this tool to see how your colors comply with web accessibility standards: <a href="http://webaim.org/resources/contrastchecker/">http://webaim.org/resources/contrastchecker/</a> </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-identity" href="#identity3" aria-expanded="false" aria-controls="identity3">
          Imagery
        </a>
      </h4>
                    </div>
                    <div id="identity3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>Most of the imagery throughout the Hub will be directly connected to journals, issues and articles. However, there may be opportunities to showcase important events, featured issues or highlighted articles. In these situations, using an interesting, brand related image can reinforce the Hub identity and encourage more views.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/accordian-->
        </div>
    </div>
    <!-- IMAGE SPACE -->
    <div class="whg-section__image">
        <div class="img-cont">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 608 608" enable-background="new 0 0 608 608" xml:space="preserve">
                <g>
                    <rect x="16" y="206" fill="#FFFFFF" width="576" height="128" />
                    <path fill="#A0C7E5" class="brand-primary" d="M16,270h576v64H16V270z" />
                    <path fill="#FFFFFF" d="M32,286h560v32H32V286z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M280,222h48c4.4,0,8,3.6,8,8v16c0,4.4-3.6,8-8,8h-48c-4.4,0-8-3.6-8-8v-16C272,225.6,275.6,222,280,222z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M360,222h48c4.4,0,8,3.6,8,8v16c0,4.4-3.6,8-8,8h-48c-4.4,0-8-3.6-8-8v-16C352,225.6,355.6,222,360,222z" />
                    <path fill="#A0C7E5" class="brand-primary" d="M440,222h48c4.4,0,8,3.6,8,8v16c0,4.4-3.6,8-8,8h-48c-4.4,0-8-3.6-8-8v-16C432,225.6,435.6,222,440,222z" />
                    <path fill="#E87700" class="brand-secondary" d="M32,286h112v32H32V286z" />
                </g>

                <image class="logo-placeholder" width="128px" height="32px" y="222" x="40" xlink:href="/images/content/placeholder-logo.svg" />

            </svg>
        </div>
    </div>
</section>