<section id="overview" class="whg-section">
    <!-- CONTENT SPACE -->
    <div class="whg-section__text">
        <div class="whg-section__text-content">

            <h2 class="decorated">Overview</h2>
            <p class="lead">The 3 steps to creating a HUB</p>


            <ol>
                <li>
                    <h4>Identity <small>Specify and implement an identity</small></h4>
                    <p>The HUB identity will manifest itself in a number of ways. This includes everything from <strong>logos</strong>, to <strong>colours</strong> and the very content that appears on each page within the HUB. Although we can take the initiative on these aspects, deciding on these elements early in the HUB building process will give the best context for moving on with the later stages.</p>
                </li>
                <li>
                    <h4>Primary Content <small>Pick and populate the HUB with content</small></h4>
                    <p>Almost all content surfaced within the HUB will be dynamically pulled from our database, which means you will not need to seperately manage the content that appears within <em>Wiley Online Library</em> and your HUB.</p>
                </li>
                <li>
                    <h4>Supporting Content <small>Apply supplementary content</small></h4>
                    <p>Throughout the HUB there are locations dedicated to serving extra pockets of content to the user called <strong>widgets</strong>. Widgets can vary from upcoming events to live twitter feeds.</p>
                </li>
            </ol>
        </div>
    </div>
    <!-- IMAGE SPACE -->
    <div class="whg-section__image">
        <div class="img-cont">
            <img src="/images/content/section-images/whg-overview.svg"/>
        </div>
    </div>
</section>