<section id="primarycontent" class="whg-section">
    <!-- CONTENT Container -->
    <div class="whg-section__text">
        <div class="whg-section__text-content">
            <!-- Put content here -->

            <h2 class="decorated">Primary Content Overview</h2>
            <p class="lead">What content will appear on which pages?</p>
            <p>Once a theme for the Hub has been finalised, we then decide on the content that will populate the Hub&rsquo;s various page types.</p>
            <p>The following sections will use the same structure from the identity portion of this document. We will move from page to page and suggest the kind of content users will look for and expect. </p>
            <p>It is important to note that most pages use a 2-column approach. The larger left column is where primary content resides. The more narrow, right column contains widgets and supporting content.</p>

        </div>
    </div>
    <!-- IMAGE SPACE -->
    <div class="whg-section__image">

        <div class="img-cont">

            <svg width="608px" height="608px" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 608 608" enable-background="new 0 0 608 608" xml:space="preserve">
                <g>
                    <rect x="16" y="16" fill="#FFFFFF" width="576" height="576" />
                    <rect x="24" y="88" fill="#E87700" class="brand-secondary" width="368" height="410" />
                    <rect x="408" y="88" fill="#F5F2ED" width="176" height="410" />
                    <rect x="16" y="560" fill="#F5F2ED" width="576" height="2" />
                    <path fill="#F5F2ED" d="M16,48h576v32H16V48z" />
                    <path fill="#F5F2ED" d="M16,506h576v2H16V506z" />
                    <path fill="#F5F2ED" d="M24,56h560v16H24V56z" />
                    <path fill="#F5F2ED" d="M148,24h24c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4v-8C144,25.8,145.8,24,148,24z" />
                    <path fill="#F5F2ED" d="M188,24h24c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4v-8C184,25.8,185.8,24,188,24z" />
                    <path fill="#F5F2ED" d="M228,24h24c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4v-8C224,25.8,225.8,24,228,24z" />
                    <path fill="#F5F2ED" d="M556,32h24c2.2,0,4,1.8,4,4s-1.8,4-4,4h-24c-2.2,0-4-1.8-4-4S553.8,32,556,32z" />
                    <path fill="#F5F2ED" d="M500,32h40c2.2,0,4,1.8,4,4s-1.8,4-4,4h-40c-2.2,0-4-1.8-4-4S497.8,32,500,32z" />
                    <path fill="#F5F2ED" d="M24,56h56v16H24V56z" />
                    <path fill="#F5F2ED" d="M568,56h16v16h-16V56z" />
                    <path fill="#F5F2ED" d="M464,550h86v-6h-86V550z" />
                    <path fill="#F5F2ED" d="M464,538h97v-6h-97V538z" />
                    <path fill="#F5F2ED" d="M464,526h47v-6h-47V526z" />
                    <path fill="#F5F2ED" d="M336,550h78v-6h-78V550z" />
                    <path fill="#F5F2ED" d="M336,538h88v-6h-88V538z" />
                    <path fill="#F5F2ED" d="M336,526h67v-6h-67V526z" />
                    <rect x="24" y="576" fill="#F5F2ED" width="52" height="4" />
                    <rect x="80" y="576" fill="#F5F2ED" width="16" height="4" />
                    <rect x="100" y="576" fill="#F5F2ED" width="16" height="4" />
                    <rect x="522" y="568" fill="#F5F2ED" width="62" height="16" />
                    <g>
                        <polygon fill="#F5F2ED" points="31.2,516.2 27,516.2 27,531.8 37.2,531.8 37.2,528.4 31.2,528.4 		" />
                        <path fill="#F5F2ED" d="M46.6,516c-2.4,0-4.3,0.7-5.6,2s-1.9,3.3-1.9,5.9c0,2.6,0.7,4.6,2,6c1.3,1.4,3.2,2.1,5.6,2.1
			c2.4,0,4.3-0.6,5.6-2c1.3-1.4,1.9-3.4,1.9-6c0-2.6-0.6-4.6-2-6C50.9,516.7,49.1,516,46.6,516z M49,527.4c-0.5,0.7-1.3,1.1-2.4,1.1
			c-2.1,0-3.1-1.5-3.1-4.5s1.1-4.6,3.2-4.5c1,0,1.8,0.4,2.3,1.1s0.8,1.8,0.8,3.4C49.8,525.5,49.5,526.7,49,527.4z" />
                        <path fill="#F5F2ED" d="M63.3,525.9h2.8v2.4c-0.5,0.1-1.1,0.2-1.7,0.2c-1.1,0-2-0.3-2.6-1.1c-0.6-0.7-0.9-1.8-0.9-3.3
			s0.3-2.6,1-3.4c0.6-0.8,1.6-1.2,2.8-1.2c1.4,0,2.6,0.2,3.7,0.8l1.3-3.3c-0.7-0.3-1.4-0.5-2.3-0.7c-0.9-0.2-1.8-0.3-2.8-0.3
			c-2.6,0-4.6,0.7-6.1,2.1c-1.4,1.4-2.1,3.4-2.1,5.9s0.7,4.5,2,5.9c1.4,1.4,3.2,2.1,5.6,2.1c2.2,0,4.2-0.3,6-0.9v-8.4h-6.7V525.9z" />
                        <path fill="#F5F2ED" d="M85.7,518c-1.3-1.3-3.1-2-5.6-2c-2.4,0-4.3,0.6-5.6,2c-1.3,1.3-1.9,3.3-1.9,5.9c0,2.6,0.7,4.6,2,6
			c1.3,1.4,3.2,2.1,5.6,2.1c2.4,0,4.3-0.6,5.6-2c1.3-1.4,1.9-3.4,1.9-6C87.7,521.4,87,519.4,85.7,518z M82.5,527.4
			c-0.5,0.7-1.3,1.1-2.4,1.1c-2.1,0-3.1-1.5-3.1-4.5s1-4.6,3.2-4.5c1,0,1.8,0.4,2.3,1.1s0.8,1.8,0.8,3.4
			C83.3,525.5,83,526.7,82.5,527.4z" />
                    </g>
                    <g>
                        <path fill="#FFFFFF" d="M185.359,264.141c0,1.229-0.385,2.169-1.152,2.82c-0.769,0.651-1.861,0.977-3.277,0.977h-1.039V272h-2.422
			v-11.422h3.648c1.385,0,2.438,0.298,3.16,0.895C184.998,262.069,185.359,262.958,185.359,264.141z M179.891,265.953h0.797
			c0.744,0,1.302-0.147,1.672-0.441c0.369-0.294,0.555-0.723,0.555-1.285c0-0.567-0.155-0.987-0.465-1.258
			c-0.311-0.271-0.796-0.406-1.457-0.406h-1.102V265.953z" />
                        <path fill="#FFFFFF" d="M192.203,263.102c0.322,0,0.591,0.023,0.805,0.07l-0.18,2.234c-0.193-0.052-0.428-0.078-0.703-0.078
			c-0.761,0-1.354,0.195-1.777,0.586c-0.425,0.391-0.637,0.938-0.637,1.641V272h-2.383v-8.734h1.805l0.352,1.469h0.117
			c0.271-0.489,0.637-0.884,1.098-1.184S191.661,263.102,192.203,263.102z" />
                        <path fill="#FFFFFF" d="M194.492,261.008c0-0.776,0.432-1.164,1.297-1.164c0.864,0,1.297,0.388,1.297,1.164
			c0,0.37-0.108,0.657-0.324,0.863c-0.217,0.206-0.541,0.309-0.973,0.309C194.924,262.18,194.492,261.789,194.492,261.008z
			 M196.977,272h-2.383v-8.734h2.383V272z" />
                        <path fill="#FFFFFF" d="M207.297,272h-2.383v-5.102c0-0.63-0.105-1.103-0.316-1.418s-0.543-0.473-0.996-0.473
			c-0.609,0-1.053,0.224-1.328,0.672c-0.276,0.448-0.414,1.185-0.414,2.211V272h-2.383v-8.734h1.82l0.32,1.117h0.133
			c0.234-0.401,0.572-0.715,1.016-0.941c0.442-0.227,0.95-0.34,1.523-0.34c1.307,0,2.192,0.427,2.656,1.281h0.211
			c0.234-0.406,0.579-0.722,1.035-0.945c0.455-0.224,0.97-0.336,1.543-0.336c0.989,0,1.738,0.254,2.246,0.762
			s0.762,1.321,0.762,2.441V272h-2.391v-5.102c0-0.63-0.105-1.103-0.316-1.418s-0.543-0.473-0.996-0.473
			c-0.584,0-1.02,0.208-1.309,0.625s-0.434,1.078-0.434,1.984V272z" />
                        <path fill="#FFFFFF" d="M220.734,272l-0.461-1.188h-0.063c-0.401,0.505-0.814,0.855-1.238,1.051
			c-0.425,0.195-0.979,0.293-1.66,0.293c-0.839,0-1.499-0.239-1.98-0.719c-0.482-0.479-0.723-1.161-0.723-2.047
			c0-0.927,0.324-1.61,0.973-2.051s1.626-0.684,2.934-0.73l1.516-0.047v-0.383c0-0.886-0.453-1.328-1.359-1.328
			c-0.698,0-1.519,0.211-2.461,0.633l-0.789-1.609c1.005-0.526,2.119-0.789,3.344-0.789c1.172,0,2.07,0.255,2.695,0.766
			s0.938,1.286,0.938,2.328V272H220.734z M220.031,267.953l-0.922,0.031c-0.693,0.021-1.209,0.146-1.547,0.375
			c-0.339,0.229-0.508,0.578-0.508,1.047c0,0.672,0.385,1.008,1.156,1.008c0.552,0,0.993-0.159,1.324-0.477
			c0.33-0.317,0.496-0.739,0.496-1.266V267.953z" />
                        <path fill="#FFFFFF" d="M229.727,263.102c0.322,0,0.591,0.023,0.805,0.07l-0.18,2.234c-0.193-0.052-0.428-0.078-0.703-0.078
			c-0.761,0-1.354,0.195-1.777,0.586c-0.425,0.391-0.637,0.938-0.637,1.641V272h-2.383v-8.734h1.805l0.352,1.469h0.117
			c0.271-0.489,0.637-0.884,1.098-1.184S229.185,263.102,229.727,263.102z" />
                        <path fill="#FFFFFF" d="M230.867,263.266h2.609l1.648,4.914c0.141,0.427,0.236,0.933,0.289,1.516h0.047
			c0.057-0.536,0.169-1.042,0.336-1.516l1.617-4.914h2.555l-3.695,9.852c-0.339,0.911-0.822,1.594-1.449,2.047
			c-0.628,0.453-1.361,0.68-2.199,0.68c-0.412,0-0.815-0.044-1.211-0.133v-1.891c0.286,0.067,0.599,0.102,0.938,0.102
			c0.422,0,0.79-0.129,1.105-0.387c0.314-0.258,0.561-0.647,0.738-1.168l0.141-0.43L230.867,263.266z" />
                        <path fill="#FFFFFF" d="M182.051,281.63c-0.912,0-1.617,0.343-2.117,1.027s-0.75,1.64-0.75,2.863c0,2.547,0.955,3.82,2.867,3.82
			c0.802,0,1.773-0.2,2.914-0.602v2.031c-0.938,0.391-1.984,0.586-3.141,0.586c-1.662,0-2.933-0.504-3.813-1.512
			c-0.881-1.008-1.32-2.454-1.32-4.34c0-1.188,0.216-2.228,0.648-3.121c0.432-0.894,1.053-1.578,1.863-2.055
			c0.81-0.477,1.759-0.715,2.848-0.715c1.109,0,2.224,0.269,3.344,0.805l-0.781,1.969c-0.428-0.203-0.857-0.38-1.289-0.531
			C182.892,281.705,182.467,281.63,182.051,281.63z" />
                        <path fill="#FFFFFF" d="M195.145,286.817c0,1.422-0.375,2.534-1.125,3.336s-1.795,1.203-3.133,1.203
			c-0.839,0-1.578-0.184-2.219-0.551s-1.133-0.895-1.477-1.582s-0.516-1.489-0.516-2.406c0-1.427,0.372-2.536,1.117-3.328
			c0.744-0.792,1.791-1.188,3.141-1.188c0.838,0,1.578,0.183,2.219,0.547s1.133,0.888,1.477,1.57S195.145,285.9,195.145,286.817z
			 M189.105,286.817c0,0.864,0.142,1.519,0.426,1.961c0.283,0.442,0.746,0.664,1.387,0.664c0.635,0,1.092-0.22,1.371-0.66
			c0.278-0.44,0.418-1.095,0.418-1.965c0-0.864-0.141-1.513-0.422-1.945s-0.742-0.648-1.383-0.648c-0.636,0-1.094,0.215-1.375,0.645
			S189.105,285.947,189.105,286.817z" />
                        <path fill="#FFFFFF" d="M205.176,291.2h-2.383v-5.102c0-0.63-0.112-1.103-0.336-1.418c-0.225-0.315-0.581-0.473-1.07-0.473
			c-0.667,0-1.148,0.223-1.445,0.668s-0.445,1.184-0.445,2.215v4.109h-2.383v-8.734h1.82l0.32,1.117h0.133
			c0.266-0.422,0.631-0.741,1.098-0.957c0.466-0.216,0.996-0.324,1.59-0.324c1.016,0,1.786,0.274,2.313,0.824
			c0.525,0.55,0.789,1.343,0.789,2.379V291.2z" />
                        <path fill="#FFFFFF" d="M211.309,289.458c0.416,0,0.916-0.091,1.5-0.273v1.773c-0.594,0.266-1.323,0.398-2.188,0.398
			c-0.953,0-1.647-0.241-2.082-0.723c-0.436-0.481-0.652-1.204-0.652-2.168v-4.211h-1.141v-1.008l1.313-0.797l0.688-1.844h1.523
			v1.859h2.445v1.789h-2.445v4.211c0,0.339,0.095,0.589,0.285,0.75C210.744,289.377,210.996,289.458,211.309,289.458z" />
                        <path fill="#FFFFFF" d="M218.527,291.356c-1.406,0-2.506-0.388-3.297-1.164c-0.792-0.776-1.188-1.875-1.188-3.297
			c0-1.464,0.365-2.595,1.098-3.395c0.731-0.8,1.743-1.199,3.035-1.199c1.234,0,2.195,0.352,2.883,1.055s1.031,1.675,1.031,2.914
			v1.156h-5.633c0.025,0.677,0.227,1.206,0.602,1.586s0.9,0.57,1.578,0.57c0.525,0,1.023-0.055,1.492-0.164s0.958-0.284,1.469-0.523
			v1.844c-0.417,0.208-0.862,0.363-1.336,0.465C219.787,291.306,219.209,291.356,218.527,291.356z M218.191,283.997
			c-0.506,0-0.901,0.16-1.188,0.48c-0.287,0.32-0.451,0.774-0.492,1.363h3.344c-0.011-0.589-0.164-1.043-0.461-1.363
			S218.696,283.997,218.191,283.997z" />
                        <path fill="#FFFFFF" d="M232.09,291.2h-2.383v-5.102c0-0.63-0.112-1.103-0.336-1.418c-0.225-0.315-0.581-0.473-1.07-0.473
			c-0.667,0-1.148,0.223-1.445,0.668s-0.445,1.184-0.445,2.215v4.109h-2.383v-8.734h1.82l0.32,1.117h0.133
			c0.266-0.422,0.631-0.741,1.098-0.957c0.466-0.216,0.996-0.324,1.59-0.324c1.016,0,1.786,0.274,2.313,0.824
			c0.525,0.55,0.789,1.343,0.789,2.379V291.2z" />
                        <path fill="#FFFFFF" d="M238.223,289.458c0.416,0,0.916-0.091,1.5-0.273v1.773c-0.594,0.266-1.323,0.398-2.188,0.398
			c-0.953,0-1.647-0.241-2.082-0.723c-0.436-0.481-0.652-1.204-0.652-2.168v-4.211h-1.141v-1.008l1.313-0.797l0.688-1.844h1.523
			v1.859h2.445v1.789h-2.445v4.211c0,0.339,0.095,0.589,0.285,0.75C237.658,289.377,237.91,289.458,238.223,289.458z" />
                    </g>
                    <g>
                        <path fill="#9E9D99" d="M462.113,268.828c0,1.031-0.371,1.844-1.113,2.438s-1.775,0.891-3.098,0.891
			c-1.219,0-2.297-0.229-3.234-0.688v-2.25c0.771,0.344,1.423,0.586,1.957,0.727c0.533,0.141,1.021,0.211,1.465,0.211
			c0.531,0,0.938-0.102,1.223-0.305c0.283-0.203,0.426-0.505,0.426-0.906c0-0.224-0.063-0.423-0.188-0.598s-0.309-0.343-0.551-0.504
			s-0.736-0.419-1.48-0.773c-0.698-0.328-1.222-0.644-1.57-0.945c-0.35-0.302-0.628-0.653-0.836-1.055
			c-0.209-0.401-0.313-0.87-0.313-1.406c0-1.011,0.342-1.805,1.027-2.383c0.685-0.578,1.631-0.867,2.84-0.867
			c0.594,0,1.16,0.07,1.699,0.211s1.103,0.339,1.691,0.594l-0.781,1.883c-0.609-0.25-1.113-0.425-1.512-0.523
			s-0.791-0.148-1.176-0.148c-0.459,0-0.811,0.106-1.055,0.32c-0.245,0.214-0.367,0.492-0.367,0.836
			c0,0.214,0.049,0.399,0.148,0.559c0.099,0.159,0.256,0.313,0.473,0.461c0.216,0.148,0.728,0.415,1.535,0.801
			c1.067,0.511,1.799,1.022,2.195,1.535C461.915,267.454,462.113,268.083,462.113,268.828z" />
                        <path fill="#9E9D99" d="M470.184,272l-0.32-1.117h-0.125c-0.256,0.406-0.617,0.72-1.086,0.941s-1.003,0.332-1.602,0.332
			c-1.026,0-1.8-0.274-2.32-0.824c-0.521-0.55-0.781-1.34-0.781-2.371v-5.695h2.383v5.102c0,0.63,0.111,1.103,0.336,1.418
			c0.224,0.315,0.58,0.473,1.07,0.473c0.666,0,1.148-0.223,1.445-0.668s0.445-1.184,0.445-2.215v-4.109h2.383V272H470.184z" />
                        <path fill="#9E9D99" d="M479.309,272.156c-1.026,0-1.831-0.372-2.414-1.117h-0.125c0.083,0.729,0.125,1.151,0.125,1.266v3.539
			h-2.383v-12.578h1.938l0.336,1.133h0.109c0.557-0.864,1.383-1.297,2.477-1.297c1.031,0,1.838,0.398,2.422,1.195
			c0.583,0.797,0.875,1.903,0.875,3.32c0,0.933-0.137,1.742-0.41,2.43s-0.663,1.211-1.168,1.57
			C480.584,271.977,479.99,272.156,479.309,272.156z M478.605,265.008c-0.589,0-1.019,0.181-1.289,0.543
			c-0.271,0.362-0.412,0.96-0.422,1.793v0.258c0,0.938,0.139,1.609,0.418,2.016c0.278,0.406,0.72,0.609,1.324,0.609
			c1.067,0,1.602-0.88,1.602-2.641c0-0.859-0.132-1.504-0.395-1.934C479.58,265.223,479.168,265.008,478.605,265.008z" />
                        <path fill="#9E9D99" d="M489.434,272.156c-1.026,0-1.831-0.372-2.414-1.117h-0.125c0.083,0.729,0.125,1.151,0.125,1.266v3.539
			h-2.383v-12.578h1.938l0.336,1.133h0.109c0.557-0.864,1.383-1.297,2.477-1.297c1.031,0,1.838,0.398,2.422,1.195
			c0.583,0.797,0.875,1.903,0.875,3.32c0,0.933-0.137,1.742-0.41,2.43s-0.663,1.211-1.168,1.57
			C490.709,271.977,490.115,272.156,489.434,272.156z M488.73,265.008c-0.589,0-1.019,0.181-1.289,0.543
			c-0.271,0.362-0.412,0.96-0.422,1.793v0.258c0,0.938,0.139,1.609,0.418,2.016c0.278,0.406,0.72,0.609,1.324,0.609
			c1.067,0,1.602-0.88,1.602-2.641c0-0.859-0.132-1.504-0.395-1.934C489.705,265.223,489.293,265.008,488.73,265.008z" />
                        <path fill="#9E9D99" d="M502.699,267.617c0,1.422-0.375,2.534-1.125,3.336s-1.795,1.203-3.133,1.203
			c-0.839,0-1.578-0.184-2.219-0.551s-1.133-0.895-1.477-1.582s-0.516-1.489-0.516-2.406c0-1.427,0.372-2.536,1.117-3.328
			c0.744-0.792,1.791-1.188,3.141-1.188c0.838,0,1.578,0.183,2.219,0.547s1.133,0.888,1.477,1.57S502.699,266.7,502.699,267.617z
			 M496.66,267.617c0,0.864,0.142,1.519,0.426,1.961c0.283,0.442,0.746,0.664,1.387,0.664c0.635,0,1.092-0.22,1.371-0.66
			c0.278-0.44,0.418-1.095,0.418-1.965c0-0.864-0.141-1.513-0.422-1.945s-0.742-0.648-1.383-0.648c-0.636,0-1.094,0.215-1.375,0.645
			S496.66,266.747,496.66,267.617z" />
                        <path fill="#9E9D99" d="M509.543,263.102c0.322,0,0.591,0.023,0.805,0.07l-0.18,2.234c-0.193-0.052-0.428-0.078-0.703-0.078
			c-0.761,0-1.354,0.195-1.777,0.586c-0.425,0.391-0.637,0.938-0.637,1.641V272h-2.383v-8.734h1.805l0.352,1.469h0.117
			c0.271-0.489,0.637-0.884,1.098-1.184S509.001,263.102,509.543,263.102z" />
                        <path fill="#9E9D99" d="M515.613,270.258c0.416,0,0.916-0.091,1.5-0.273v1.773c-0.594,0.266-1.323,0.398-2.188,0.398
			c-0.953,0-1.647-0.241-2.082-0.723c-0.436-0.481-0.652-1.204-0.652-2.168v-4.211h-1.141v-1.008l1.313-0.797l0.688-1.844h1.523
			v1.859h2.445v1.789h-2.445v4.211c0,0.339,0.095,0.589,0.285,0.75C515.049,270.177,515.301,270.258,515.613,270.258z" />
                        <path fill="#9E9D99" d="M518.777,261.008c0-0.776,0.432-1.164,1.297-1.164c0.864,0,1.297,0.388,1.297,1.164
			c0,0.37-0.108,0.657-0.324,0.863c-0.217,0.206-0.541,0.309-0.973,0.309C519.209,262.18,518.777,261.789,518.777,261.008z
			 M521.262,272h-2.383v-8.734h2.383V272z" />
                        <path fill="#9E9D99" d="M531.824,272h-2.383v-5.102c0-0.63-0.112-1.103-0.336-1.418c-0.225-0.315-0.581-0.473-1.07-0.473
			c-0.667,0-1.148,0.223-1.445,0.668s-0.445,1.184-0.445,2.215V272h-2.383v-8.734h1.82l0.32,1.117h0.133
			c0.266-0.422,0.631-0.741,1.098-0.957c0.466-0.216,0.996-0.324,1.59-0.324c1.016,0,1.786,0.274,2.313,0.824
			c0.525,0.55,0.789,1.343,0.789,2.379V272z" />
                        <path fill="#9E9D99" d="M541.879,263.266v1.211l-1.367,0.352c0.25,0.391,0.375,0.828,0.375,1.313c0,0.938-0.327,1.668-0.98,2.191
			c-0.654,0.523-1.562,0.785-2.723,0.785l-0.43-0.023l-0.352-0.039c-0.245,0.188-0.367,0.396-0.367,0.625
			c0,0.344,0.438,0.516,1.313,0.516h1.484c0.958,0,1.688,0.206,2.191,0.617c0.502,0.411,0.754,1.016,0.754,1.813
			c0,1.021-0.426,1.813-1.277,2.375s-2.074,0.844-3.668,0.844c-1.219,0-2.15-0.212-2.793-0.637c-0.644-0.425-0.965-1.02-0.965-1.785
			c0-0.526,0.164-0.966,0.492-1.32s0.81-0.606,1.445-0.758c-0.245-0.104-0.459-0.274-0.641-0.512
			c-0.183-0.237-0.273-0.488-0.273-0.754c0-0.333,0.096-0.61,0.289-0.832c0.192-0.222,0.471-0.438,0.836-0.652
			c-0.459-0.198-0.822-0.516-1.09-0.953c-0.269-0.438-0.402-0.953-0.402-1.547c0-0.953,0.31-1.69,0.93-2.211
			c0.619-0.521,1.505-0.781,2.656-0.781c0.244,0,0.535,0.022,0.871,0.066s0.551,0.077,0.645,0.098H541.879z M535.137,273.234
			c0,0.328,0.157,0.586,0.473,0.773c0.314,0.188,0.756,0.281,1.324,0.281c0.854,0,1.523-0.117,2.008-0.352s0.727-0.555,0.727-0.961
			c0-0.328-0.144-0.555-0.43-0.68c-0.287-0.125-0.729-0.188-1.328-0.188h-1.234c-0.438,0-0.804,0.103-1.098,0.309
			C535.283,272.624,535.137,272.896,535.137,273.234z M536.004,266.125c0,0.474,0.107,0.849,0.324,1.125
			c0.216,0.276,0.545,0.414,0.988,0.414c0.447,0,0.775-0.138,0.984-0.414c0.208-0.276,0.313-0.651,0.313-1.125
			c0-1.052-0.433-1.578-1.297-1.578C536.441,264.547,536.004,265.073,536.004,266.125z" />
                        <path fill="#9E9D99" d="M472.051,281.63c-0.912,0-1.617,0.343-2.117,1.027s-0.75,1.64-0.75,2.863c0,2.547,0.955,3.82,2.867,3.82
			c0.802,0,1.773-0.2,2.914-0.602v2.031c-0.938,0.391-1.984,0.586-3.141,0.586c-1.662,0-2.933-0.504-3.813-1.512
			c-0.881-1.008-1.32-2.454-1.32-4.34c0-1.188,0.216-2.228,0.648-3.121c0.432-0.894,1.053-1.578,1.863-2.055
			c0.81-0.477,1.759-0.715,2.848-0.715c1.109,0,2.224,0.269,3.344,0.805l-0.781,1.969c-0.428-0.203-0.857-0.38-1.289-0.531
			C472.892,281.705,472.467,281.63,472.051,281.63z" />
                        <path fill="#9E9D99" d="M485.145,286.817c0,1.422-0.375,2.534-1.125,3.336s-1.795,1.203-3.133,1.203
			c-0.839,0-1.578-0.184-2.219-0.551s-1.133-0.895-1.477-1.582s-0.516-1.489-0.516-2.406c0-1.427,0.372-2.536,1.117-3.328
			c0.744-0.792,1.791-1.188,3.141-1.188c0.838,0,1.578,0.183,2.219,0.547s1.133,0.888,1.477,1.57S485.145,285.9,485.145,286.817z
			 M479.105,286.817c0,0.864,0.142,1.519,0.426,1.961c0.283,0.442,0.746,0.664,1.387,0.664c0.635,0,1.092-0.22,1.371-0.66
			c0.278-0.44,0.418-1.095,0.418-1.965c0-0.864-0.141-1.513-0.422-1.945s-0.742-0.648-1.383-0.648c-0.636,0-1.094,0.215-1.375,0.645
			S479.105,285.947,479.105,286.817z" />
                        <path fill="#9E9D99" d="M495.176,291.2h-2.383v-5.102c0-0.63-0.112-1.103-0.336-1.418c-0.225-0.315-0.581-0.473-1.07-0.473
			c-0.667,0-1.148,0.223-1.445,0.668s-0.445,1.184-0.445,2.215v4.109h-2.383v-8.734h1.82l0.32,1.117h0.133
			c0.266-0.422,0.631-0.741,1.098-0.957c0.466-0.216,0.996-0.324,1.59-0.324c1.016,0,1.786,0.274,2.313,0.824
			c0.525,0.55,0.789,1.343,0.789,2.379V291.2z" />
                        <path fill="#9E9D99" d="M501.309,289.458c0.416,0,0.916-0.091,1.5-0.273v1.773c-0.594,0.266-1.323,0.398-2.188,0.398
			c-0.953,0-1.647-0.241-2.082-0.723c-0.436-0.481-0.652-1.204-0.652-2.168v-4.211h-1.141v-1.008l1.313-0.797l0.688-1.844h1.523
			v1.859h2.445v1.789h-2.445v4.211c0,0.339,0.095,0.589,0.285,0.75C500.744,289.377,500.996,289.458,501.309,289.458z" />
                        <path fill="#9E9D99" d="M508.527,291.356c-1.406,0-2.506-0.388-3.297-1.164c-0.792-0.776-1.188-1.875-1.188-3.297
			c0-1.464,0.365-2.595,1.098-3.395c0.731-0.8,1.743-1.199,3.035-1.199c1.234,0,2.195,0.352,2.883,1.055s1.031,1.675,1.031,2.914
			v1.156h-5.633c0.025,0.677,0.227,1.206,0.602,1.586s0.9,0.57,1.578,0.57c0.525,0,1.023-0.055,1.492-0.164s0.958-0.284,1.469-0.523
			v1.844c-0.417,0.208-0.862,0.363-1.336,0.465C509.787,291.306,509.209,291.356,508.527,291.356z M508.191,283.997
			c-0.506,0-0.901,0.16-1.188,0.48c-0.287,0.32-0.451,0.774-0.492,1.363h3.344c-0.011-0.589-0.164-1.043-0.461-1.363
			S508.696,283.997,508.191,283.997z" />
                        <path fill="#9E9D99" d="M522.09,291.2h-2.383v-5.102c0-0.63-0.112-1.103-0.336-1.418c-0.225-0.315-0.581-0.473-1.07-0.473
			c-0.667,0-1.148,0.223-1.445,0.668s-0.445,1.184-0.445,2.215v4.109h-2.383v-8.734h1.82l0.32,1.117h0.133
			c0.266-0.422,0.631-0.741,1.098-0.957c0.466-0.216,0.996-0.324,1.59-0.324c1.016,0,1.786,0.274,2.313,0.824
			c0.525,0.55,0.789,1.343,0.789,2.379V291.2z" />
                        <path fill="#9E9D99" d="M528.223,289.458c0.416,0,0.916-0.091,1.5-0.273v1.773c-0.594,0.266-1.323,0.398-2.188,0.398
			c-0.953,0-1.647-0.241-2.082-0.723c-0.436-0.481-0.652-1.204-0.652-2.168v-4.211h-1.141v-1.008l1.313-0.797l0.688-1.844h1.523
			v1.859h2.445v1.789h-2.445v4.211c0,0.339,0.095,0.589,0.285,0.75C527.658,289.377,527.91,289.458,528.223,289.458z" />
                    </g>
                </g>
                
                <image class="logo-placeholder" width="64px" height="16px" y="24" x="26" xlink:href="/images/content/placeholder-logo.svg" />
                
            </svg>


        </div>

    </div>
</section>