<section id="quickstart" class="whg-section">
    <!-- CONTENT SPACE -->
    <div class="whg-section__text">
        <div class="whg-section__text-content">

            <h2 class="decorated">Quickstart</h2>
            <p class="lead">Getting your Hub started</p>
            <p>The form below lists some of the most important elements Wiley requires to begin the creation of your Hub.</p>

            <div class="wsg-callout wsg-callout--info">
                <p>Once complete, you can download the data from the form and submit it to your contact at Wiley.</p>
            </div>

            <!--form-->
            <div class="panel panel-default">

                <div class="panel-heading">Quickstart form</div>

                <div class="panel-body">

                    {{> quickstart-form}}

                </div>
            </div>
            <!--form end-->

        </div>
    </div>
    <!-- IMAGE SPACE -->
    <div class="whg-section__image">
        <div class="img-cont">
            <img src="/images/content/section-images/whg-graphics_quickstart.svg" />
        </div>
    </div>
</section>