<div class="whg-ui-controls">
    <div id="whg-menu-toggle" class="whg-ui-controls__button">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </div>
    <div id="whg-theme-modal-toggle" class="whg-ui-controls__button" data-toggle="modal" data-target="#myModal">
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
    </div>
</div>