<div id="whg-menu-drawer" class="whg-menu-drawer whg-menu-drawer--closed">

    <div id="whg-menu-drawer__overlay" class="whg-menu-drawer__overlay"></div>

    <div class="whg-menu-drawer__container">
        <div class="whg-menu-drawer__header">
            <span id="whg-menu-toggle__close-button" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
        <div class="whg-menu-drawer__content">            
            <div class="whg-home__menu">
                {{> contents}}
            </div>

        </div>
    </div>

</div>