.footer-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

// wiley branded footer base
// please change the max width of the footer__base__content to the max width of your website
.footer-base {
    padding-top: 2rem;
    padding-bottom: 1rem;
    position: relative;
    background: url('/images/decoration/footer-01.svg') repeat-x;
    &:after {
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        background: url('/images/decoration/footer-02.svg') right;
        display: block;
        height: 70px;
        width: 100%;
        max-width: 296px;
    }
    &.nodeco {
        background: url('/images/decoration/footer-03.svg') repeat-x;
        &:after {
            content: none;
        }
    }
    .footer-base__content {
        display: block;
        max-width: 960px;
        position: relative;
        margin: auto;
        .logo {
            display: block;
            margin: auto;
            @media (min-width: 60em) {
                position: absolute;
                right: 2rem;
                top: -1rem;
            }
        }
    }
    &.footer-base--black.nodeco {
        color: map-get($colors, grey-100);
        background-color: map-get($colors, wiley-black);
        background-image: url('/images/decoration/footer-04.svg');
    }
}

// copyright line
.copyright {
    text-align: center;
    font-size: 0.625em;
    margin: 1rem 3rem;
    a {
        color: inherit;
        font-weight: 700;
        &:hover {
            text-decoration: underline;
        }
    }
    @media (min-width: 60em) {
        text-align: left;
        margin-left: 1rem;
        margin-right: 10rem;
    }
}


// wiley.com footer links

.footer-wiley {
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
    padding: 0 1rem;
    text-transform: uppercase;
    @include susy-clearfix;
    .footer-wiley__list {
        font-size: 0.7em;
        text-align: center;
        span {
            font-weight: 700;
        }
        ul {
            padding: 0;
            list-style: none;
            margin-top: 0.5rem;
        }
        li {
            margin: 0 0 0.25rem;
        }
        @include bp(phablet) {
            text-align: left;
            &.footer-wiley__list--2col {
                @include span(6 of 12);
                li {
                    width: 50%;
                    float: left;
                }
            }
            &.footer-wiley__list--1col {
                @include span(3 of 12);
            }
            &:last-child {
                @include last;
            }
        }
        @include bp(laptop) {
            text-align: left;
            &.footer-wiley__list--2col {
                @include span(4 of 12);
                li {
                    width: 50%;
                    float: left;
                }
            }
            &.footer-wiley__list--1col {
                @include span(2 of 12);
            }
        }
    }
}

// wiley online library footer links OR 'product and services footer'
.footer--product {
    padding-top: 1.5rem;
    border-top: 4px solid map-get($colors, teal-dark);
    .footer--product__content {
        max-width: 960px;
        margin: auto;
        box-sizing: border-box;
        padding: 0 1rem;
        font-size: 0.75em;
        @include susy-clearfix;
        .footer--product__col {
            text-align: center;
            .footer__site-title {                
                display: inline-block;
                margin-bottom: 1rem;
            }
            ul {
                margin-top: 0;
                padding: 0;
                list-style: none;                
                li {
                    .footer__link-heading {
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                    .footer__link {
                        font-weight: 600;
                        cursor: pointer;
                        color: map-get($colors, teal);
                    }
                }
            }
            @include bp(phablet) {
                text-align: left;
                &.footer--product__col--brand {
                    @include span(3 of 12);
                }
                &.footer--product__col--links {
                    @include span(3 of 12);
                }
                &:last-child {
                    @include last;
                }
            }
            @include bp(laptop) {
                text-align: left;
                &.footer--product__col--brand {
                    @include span(6 of 12);
                }
                &.footer--product__col--links {
                    @include span(2 of 12);
                }
                &:last-child {
                    @include last;
                }
            }
        }
    }
    &.nobrandcolor {
        border-top: 4px solid black;
        li {
            color: map-get($colors, grey-700);
        }
    }
}

//variations

.link--exchanges {
    color: map-get($colors, grey-700);
}